{
  "openapi": "3.1.1",
  "info": {
    "title": "API DELPI GPT Actions V1",
    "version": "1.0.0",
    "description": "Compact READ-ONLY facade for Custom GPT. Approval: API-DELPI-GPT-004A.2. AuthZ remains backend ENGINEERING_LMP_ACCESS."
  },
  "servers": [
    {
      "url": "https://minhadelpi.com.br/apps/api-delpi"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Keycloak access token from OAuth Authorization Code (client chatgpt-api-delpi). Audience must include delpi-central."
      }
    },
    "schemas": {
      "ApiDelpiEnvelope": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "description": "Error payload when success=false; null on success.",
            "additionalProperties": true
          },
          "meta": {
            "type": "object"
          }
        }
      },
      "GptProductSearchItem": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "product_code": {
            "type": "string",
            "description": "Product code (B1_COD)."
          },
          "description": {
            "type": "string",
            "description": "Product description."
          },
          "group_category": {
            "type": "string",
            "description": "Product group code (mapped from group_code)."
          }
        },
        "required": [
          "product_code",
          "description",
          "group_category"
        ]
      }
    }
  },
  "paths": {
    "/gpt-actions/v1/catalog": {
      "get": {
        "operationId": "gpt_get_catalog",
        "summary": "List V1 GPT capabilities and field allowlist",
        "description": "Returns read-only catalog, allowedCapabilities from AuthZ, and Product Master field allowlist.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDelpiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/gpt-actions/v1/products/search": {
      "get": {
        "operationId": "gpt_search_products",
        "summary": "Search products with minimal projection",
        "description": "Searches products via existing use case. Returns only product_code, description, group_category. page_size max 50.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Product code filter (partial/exact per backend)."
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Description filter."
          },
          {
            "name": "group_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Product group filter (group_category source)."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            },
            "description": "Max 50."
          }
        ],
        "responses": {
          "200": {
            "description": "Paged projected products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDelpiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "x-delpi-gpt-actions": {
    "status": "LEGACY_TRANSITIONAL",
    "strategicTarget": "openai-plugin-mcp",
    "importedOperationIds": [
      "gpt_get_catalog",
      "gpt_search_products"
    ],
    "schemaHttpOperationId": "gpt_get_openapi_schema",
    "note": "openapi.json path is public for import but omitted from paths. Strategic external integration is OpenAI Plugin + MCP."
  }
}
