# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.mypy_cache/
*.sqlite3

# Python coverage
.coverage
coverage.xml
htmlcov/

# Virtualenv
venv/
.venv/
.env

# Flask
instance/

# Migrations
migrations/__pycache__/

# Node
node_modules/
dist/
build/

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db