TRAVEL_EXPENSES_API_ROOT_PATH=/apps/travel-expenses-api
TRAVEL_EXPENSES_RUN_MIGRATIONS_ON_STARTUP=true
TRAVEL_EXPENSES_RECEIPT_UPLOAD_DIR=/app/data/travel-expenses/receipts
TRAVEL_EXPENSES_PACKAGE_UPLOAD_DIR=/app/data/travel-expenses/packages
TRAVEL_EXPENSES_PIX_UPLOAD_DIR=/app/data/travel-expenses/pix
TRAVEL_EXPENSES_RECEIPT_MAX_BYTES=15728640
