CIPA_API_ROOT_PATH=/apps/cipa-api
CIPA_RUN_MIGRATIONS_ON_STARTUP=true
CIPA_SIGNATURE_UPLOAD_DIR=/app/data/cipa/signatures
CIPA_ATTACHMENT_UPLOAD_DIR=/app/data/cipa/attachments
CIPA_PDF_UPLOAD_DIR=/app/data/cipa/pdfs
CIPA_PORTAL_NOTIFICATIONS_ENABLED=true
