{
  "openapi": "3.1.1",
  "info": {
    "title": "Transformômetro API — Custom GPT Actions",
    "description": "Compact facade for OpenAI Custom GPT. Analyzes KPIs and creates/edits Transformômetro records with the same Keycloak JWT + Core RBAC as the UI. Do not expose binary uploads, collaboration locks, or public signature signing here.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://minhadelpi.com.br/apps/transformometro-api",
      "description": "Minha DELPI gateway"
    }
  ],
  "tags": [
    {
      "name": "Transformômetro GPT",
      "description": "Custom GPT Actions for analyze / register / edit."
    }
  ],
  "paths": {
    "/transformometro/gpt-actions/v1/catalog": {
      "get": {
        "operationId": "gpt_get_catalog",
        "summary": "Catalog options for Transformômetro forms",
        "description": "Returns units, departments, enums, access scope, and registration_guide (concepts, flow, entity_schemas) for guided signup. Call this before creating processes or instances.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking Transformômetro permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/transformometro/gpt-actions/v1/process-context": {
      "get": {
        "operationId": "gpt_get_process_context",
        "summary": "Aggregated read-only process intelligence context",
        "description": "Ephemeral Process Business Graph from authoritative records. No side effects. Use before diagnosis or registration.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "process_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Master process UUID (processo_id)."
          },
          {
            "name": "instance_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional melhoria UUID to isolate one instance."
          },
          {
            "name": "revision_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional revision UUID for scenario selection."
          }
        ],
        "responses": {
          "200": {
            "description": "Process intelligence context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking Transformômetro permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/transformometro/gpt-actions/v1/analysis": {
      "get": {
        "operationId": "gpt_analyze",
        "summary": "Analyze dashboard KPIs from snapshot/live cache",
        "description": "Read-only analytics. Prefer `summary` for totals, `processes` for ranking, `instances` for operational improvements, `rows` for revision-level detail, `meta` to check cache freshness. Competencies use YYYY-MM.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "meta",
                "summary",
                "processes",
                "instances",
                "rows"
              ]
            },
            "description": "Analysis view to return."
          },
          {
            "name": "filial_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Unit code (01, 02)."
          },
          {
            "name": "setor_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Department id."
          },
          {
            "name": "processo_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revisao_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "familia_processo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "competencia_inicio",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}$"
            },
            "description": "Start month YYYY-MM."
          },
          {
            "name": "competencia_fim",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}$"
            },
            "description": "End month YYYY-MM."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking Transformômetro permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/transformometro/gpt-actions/v1/records/{entity}": {
      "get": {
        "operationId": "gpt_search_records",
        "summary": "Search or list records by entity",
        "description": "List records. Use `parent_id` for children (instances/revisions of a process, investments of a revision). For revisions prefer `instance_id` to isolate one melhoria. Use `q` for process text search.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "branch",
                "department",
                "process",
                "instance",
                "revision",
                "measurement",
                "investment",
                "shared_resource",
                "resource_cost",
                "resource_link",
                "meeting_minute",
                "decomposition_tree",
                "instance_decomposition_scope",
                "revision_decomposition_overlay",
                "process_diagram",
                "instance_diagram_scope",
                "revision_diagram_overlay",
                "impact_effort_matrix"
              ]
            },
            "description": "Entity slug (see enum). Cadastro: process, instance, revision, measurement, investment. Catalog: branch, department, shared_resource. Atas: meeting_minute. Documents: decomposition_tree, process_diagram, impact_effort_matrix and related overlays."
          },
          {
            "name": "parent_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instance_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "When entity=revision, list only revisions of this instancia_id (melhoria). Preferred over parent_id."
          },
          {
            "name": "filial_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "setor_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "familia_processo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unit_code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking Transformômetro permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "gpt_create_record",
        "summary": "Create a Transformômetro record",
        "description": "Create record. Body `{data:{...}}` matches UI CRUD fields. For tree/diagram overlays, put parent id in data (processo_id, instancia_id, or revisao_id).",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "branch",
                "department",
                "process",
                "instance",
                "revision",
                "measurement",
                "investment",
                "shared_resource",
                "resource_cost",
                "resource_link",
                "meeting_minute",
                "decomposition_tree",
                "instance_decomposition_scope",
                "revision_decomposition_overlay",
                "process_diagram",
                "instance_diagram_scope",
                "revision_diagram_overlay",
                "impact_effort_matrix"
              ]
            },
            "description": "Entity slug (see enum). Cadastro: process, instance, revision, measurement, investment. Catalog: branch, department, shared_resource. Atas: meeting_minute. Documents: decomposition_tree, process_diagram, impact_effort_matrix and related overlays."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptRecordBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created or upserted record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "201": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking Transformômetro permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/transformometro/gpt-actions/v1/records/{entity}/{id}": {
      "get": {
        "operationId": "gpt_get_record",
        "summary": "Get one record by entity and id",
        "description": "For measurement, id is revisao_id. For decomposition/diagram entities, id is the parent (processo_id / instancia_id / revisao_id).",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "branch",
                "department",
                "process",
                "instance",
                "revision",
                "measurement",
                "investment",
                "shared_resource",
                "resource_cost",
                "resource_link",
                "meeting_minute",
                "decomposition_tree",
                "instance_decomposition_scope",
                "revision_decomposition_overlay",
                "process_diagram",
                "instance_diagram_scope",
                "revision_diagram_overlay",
                "impact_effort_matrix"
              ]
            },
            "description": "Entity slug (see enum). Cadastro: process, instance, revision, measurement, investment. Catalog: branch, department, shared_resource. Atas: meeting_minute. Documents: decomposition_tree, process_diagram, impact_effort_matrix and related overlays."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking Transformômetro permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "gpt_update_record",
        "summary": "Update a Transformômetro record",
        "description": "Full/partial update depending on entity. Body: `{ \"data\": { ... } }`.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "branch",
                "department",
                "process",
                "instance",
                "revision",
                "measurement",
                "investment",
                "shared_resource",
                "resource_cost",
                "resource_link",
                "meeting_minute",
                "decomposition_tree",
                "instance_decomposition_scope",
                "revision_decomposition_overlay",
                "process_diagram",
                "instance_diagram_scope",
                "revision_diagram_overlay",
                "impact_effort_matrix"
              ]
            },
            "description": "Entity slug (see enum). Cadastro: process, instance, revision, measurement, investment. Catalog: branch, department, shared_resource. Atas: meeting_minute. Documents: decomposition_tree, process_diagram, impact_effort_matrix and related overlays."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptRecordBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking Transformômetro permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": true
      },
      "delete": {
        "operationId": "gpt_delete_record",
        "summary": "Soft-delete a Transformômetro record",
        "description": "Destructive. Requires the same manage permissions as the UI.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "branch",
                "department",
                "process",
                "instance",
                "revision",
                "measurement",
                "investment",
                "shared_resource",
                "resource_cost",
                "resource_link",
                "meeting_minute",
                "decomposition_tree",
                "instance_decomposition_scope",
                "revision_decomposition_overlay",
                "process_diagram",
                "instance_diagram_scope",
                "revision_diagram_overlay",
                "impact_effort_matrix"
              ]
            },
            "description": "Entity slug (see enum). Cadastro: process, instance, revision, measurement, investment. Catalog: branch, department, shared_resource. Atas: meeting_minute. Documents: decomposition_tree, process_diagram, impact_effort_matrix and related overlays."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking Transformômetro permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/transformometro/gpt-actions/v1/records/{entity}/{id}/duplicate": {
      "post": {
        "operationId": "gpt_duplicate_record",
        "summary": "Duplicate process, instance, or revision",
        "description": "Supported entities: process, instance, revision. Optional body `data` with rename fields.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "process",
                "instance",
                "revision"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptRecordBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Duplicated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "201": {
            "description": "Duplicated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking Transformômetro permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/transformometro/gpt-actions/v1/revisions/{id}/activate": {
      "post": {
        "operationId": "gpt_activate_revision",
        "summary": "Activate a revision as the operational current version",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activated revision",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking Transformômetro permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/transformometro/gpt-actions/v1/dashboard/recalculate": {
      "post": {
        "operationId": "gpt_recalculate_dashboard",
        "summary": "Recalculate materialised dashboard cache",
        "description": "Optional filters: revisao_id, processo_id, competencia_inicio, competencia_fim.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "revisao_id": {
                    "type": "string"
                  },
                  "processo_id": {
                    "type": "string"
                  },
                  "competencia_inicio": {
                    "type": "string"
                  },
                  "competencia_fim": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recalculation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking Transformômetro permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/transformometro/gpt-actions/v1/meeting-minutes/{id}/workflow": {
      "post": {
        "operationId": "gpt_meeting_minute_workflow",
        "summary": "Send, finalize, or cancel a meeting minute",
        "description": "Workflow actions for atas. Handwritten signature stays in the UI / magic link.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "send",
                      "finalize",
                      "cancel"
                    ]
                  },
                  "reason": {
                    "type": "string",
                    "description": "Optional cancel reason."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking Transformômetro permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/transformometro/gpt-actions/v1/improvement-packages": {
      "post": {
        "operationId": "gpt_commit_improvement_package",
        "summary": "Validate or commit a guided improvement package",
        "description": "Orchestrates process+instance+baseline+scenario(+investments). Use dry_run=true first; then commit. Prefer over many create calls.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptImprovementPackageBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dry-run checklist or commit result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking Transformômetro permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": true
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Keycloak access token from OAuth Authorization Code (client chatgpt-transformometro). Audience must include delpi-central."
      }
    },
    "schemas": {
      "ApiEnvelope": {
        "type": "object",
        "required": [
          "success",
          "message",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {}
        }
      },
      "GptRecordBody": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "description": "Entity payload. Field names match transformometro-api CRUD (nome_processo, filial_id, setor_ids, versao_revisao, volume_mensal, unit_code, title, conteudo, etc.).",
            "additionalProperties": true
          }
        }
      },
      "GptImprovementPackageBody": {
        "type": "object",
        "properties": {
          "dry_run": {
            "type": "boolean",
            "default": false,
            "description": "When true, validate only and return missing fields."
          },
          "activate_scenario": {
            "type": "boolean",
            "default": false,
            "description": "Activate the scenario revision after commit."
          },
          "recalculate": {
            "type": "boolean",
            "default": false,
            "description": "Recalculate dashboard cache after commit."
          },
          "process": {
            "type": "object",
            "description": "Create fields or {id|processo_id} to reuse.",
            "additionalProperties": true
          },
          "instance": {
            "type": "object",
            "description": "Create fields or {id|instancia_id} to reuse.",
            "additionalProperties": true
          },
          "baseline": {
            "type": "object",
            "description": "revision (+ optional measurement). cenario forced to baseline.",
            "properties": {
              "revision": {
                "type": "object",
                "additionalProperties": true
              },
              "measurement": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "scenario": {
            "type": "object",
            "description": "revision (melhoria|automacao|correcao) + measurement + investments[]. revisao_referencia_id optional if baseline is in the same package.",
            "properties": {
              "revision": {
                "type": "object",
                "additionalProperties": true
              },
              "measurement": {
                "type": "object",
                "additionalProperties": true
              },
              "investments": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    }
  }
}
