{"openapi":"3.1.1","info":{"title":"Transformômetro API — Custom GPT Actions","description":"Compact facade for OpenAI Custom GPT. Analyzes KPIs and creates/edits Transformômetro records with the same Keycloak JWT + Core RBAC as the UI. Do not expose binary uploads, collaboration locks, or public signature signing here.","version":"1.0.0"},"servers":[{"url":"https://minhadelpi.com.br/apps/transformometro-api","description":"Minha DELPI gateway"}],"tags":[{"name":"Transformômetro GPT","description":"Custom GPT Actions for analyze / register / edit."}],"paths":{"/transformometro/gpt-actions/v1/me":{"get":{"operationId":"gpt_get_my_context","summary":"Minimal personal context for the authenticated user","description":"Read-only personal context (display name, email, job title). PROFILE CONTEXT != AUTHORIZATION — never exposes roles, permissions, groups or access_scope. Identity is resolved only from the authenticated Bearer token; no user_id input.","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"responses":{"200":{"description":"Personal context payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}},"x-openai-isConsequential":false}},"/transformometro/gpt-actions/v1/catalog":{"get":{"operationId":"gpt_get_catalog","summary":"Catalog options for Transformômetro forms","description":"Returns units, departments, enums, access scope, and registration_guide (concepts, flow, entity_schemas) for guided signup. Call this before creating processes or instances.","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"responses":{"200":{"description":"Catalog payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}}}},"/transformometro/gpt-actions/v1/methodology-guide":{"get":{"operationId":"gpt_get_methodology_guide","summary":"Read-only process methodology playbooks","description":"READ-only guidance. Not a fact, not authorization, and not a write. Optional method and task. Same source as MCP get_methodology_guide.","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"x-openai-isConsequential":false,"parameters":[{"name":"method","in":"query","required":false,"schema":{"type":"string","enum":["macroprocess","key_process","end_to_end","sipoc","lean","ishikawa","five_whys","ctp","tdr","kpi","swot","as_is","to_be"]},"description":"Optional method id: macroprocess, key_process, end_to_end, sipoc, lean, ishikawa, five_whys, ctp, tdr, kpi, swot, as_is, to_be. Omit to receive the router."},{"name":"task","in":"query","required":false,"schema":{"type":"string","enum":["discover","map","diagnose","redesign","measure","prioritize","interview"]},"description":"Optional task: discover, map, diagnose, redesign, measure, prioritize, interview. Selects the smallest recommended methods."}],"responses":{"200":{"description":"Methodology guide payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}}}},"/transformometro/gpt-actions/v1/process-context":{"get":{"operationId":"gpt_get_process_context","summary":"Aggregated read-only process intelligence context","description":"Ephemeral Process Business Graph from authoritative records. No side effects. Use before diagnosis or registration.","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"process_id","in":"query","required":true,"schema":{"type":"string"},"description":"Master process UUID (processo_id)."},{"name":"instance_id","in":"query","schema":{"type":"string"},"description":"Optional melhoria UUID to isolate one instance."},{"name":"revision_id","in":"query","schema":{"type":"string"},"description":"Optional revision UUID for scenario selection."}],"responses":{"200":{"description":"Process intelligence context","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}}}},"/transformometro/gpt-actions/v1/analysis":{"get":{"operationId":"gpt_analyze","summary":"Analyze dashboard KPIs from snapshot/live cache","description":"Read-only analytics. Prefer `summary` for totals, `processes` for ranking, `instances` for operational improvements, `rows` for revision-level detail, `meta` to check cache freshness. Competencies use YYYY-MM.","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"view","in":"query","required":true,"schema":{"type":"string","enum":["meta","summary","processes","instances","rows"]},"description":"Analysis view to return."},{"name":"filial_id","in":"query","required":false,"schema":{"type":"string"},"description":"Unit code (01, 02)."},{"name":"setor_id","in":"query","required":false,"schema":{"type":"string"},"description":"Department reference: UUID (setor_id) or business code (codigo_setor, e.g. comercial)."},{"name":"processo_id","in":"query","required":false,"schema":{"type":"string"},"description":"Filter processes/instances/rows to this process UUID. Does not widen authorization scope."},{"name":"revisao_id","in":"query","required":false,"schema":{"type":"string"}},{"name":"familia_processo","in":"query","required":false,"schema":{"type":"string"}},{"name":"competencia_inicio","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}$"},"description":"Start month YYYY-MM."},{"name":"competencia_fim","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}$"},"description":"End month YYYY-MM."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500}}],"responses":{"200":{"description":"Analysis payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}}}},"/transformometro/gpt-actions/v1/records/{entity}":{"get":{"operationId":"gpt_search_records","summary":"Search or list records by entity","description":"List records. Use `parent_id` for children (instances/revisions of a process, investments of a revision). For revisions prefer `instance_id` to isolate one melhoria. Use `q` for process text search.","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"entity","in":"path","required":true,"schema":{"type":"string","enum":["branch","department","process","instance","revision","measurement","investment","shared_resource","resource_cost","resource_link","meeting_minute","process_document","decomposition_tree","instance_decomposition_scope","revision_decomposition_overlay","process_diagram","instance_diagram_scope","revision_diagram_overlay","impact_effort_matrix"]},"description":"Entity slug (see enum). Cadastro: process, instance, revision, measurement, investment. Catalog: branch, department, shared_resource. Atas: meeting_minute. Process knowledge (Markdown): process_document. Documents: decomposition_tree, process_diagram, impact_effort_matrix and related overlays."},{"name":"parent_id","in":"query","schema":{"type":"string"}},{"name":"instance_id","in":"query","schema":{"type":"string"},"description":"When entity=revision, list only revisions of this instancia_id (melhoria). Preferred over parent_id."},{"name":"filial_id","in":"query","schema":{"type":"string"}},{"name":"setor_id","in":"query","schema":{"type":"string"},"description":"Department reference: UUID (setor_id) or business code (codigo_setor, e.g. comercial)."},{"name":"status","in":"query","schema":{"type":"string"}},{"name":"familia_processo","in":"query","schema":{"type":"string"}},{"name":"q","in":"query","schema":{"type":"string"},"description":"Process text search (nome, codigo, familia, descricao, objetivo). Use short keywords; try progressive fallbacks if empty."},{"name":"unit_code","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"List of records","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}}}},"/transformometro/gpt-actions/v1/records/{entity}/{id}":{"get":{"operationId":"gpt_get_record","summary":"Get one record by entity and id","description":"For measurement, id is revisao_id. For decomposition/diagram entities, id is the parent (processo_id / instancia_id / revisao_id).","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"entity","in":"path","required":true,"schema":{"type":"string","enum":["branch","department","process","instance","revision","measurement","investment","shared_resource","resource_cost","resource_link","meeting_minute","process_document","decomposition_tree","instance_decomposition_scope","revision_decomposition_overlay","process_diagram","instance_diagram_scope","revision_diagram_overlay","impact_effort_matrix"]},"description":"Entity slug (see enum). Cadastro: process, instance, revision, measurement, investment. Catalog: branch, department, shared_resource. Atas: meeting_minute. Process knowledge (Markdown): process_document. Documents: decomposition_tree, process_diagram, impact_effort_matrix and related overlays."},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Record","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}}}},"/transformometro/gpt-actions/v1/governed-operations/prepare":{"post":{"operationId":"gpt_prepare_governed_operation","summary":"PREPARE special governed operations","description":"Special governed writes — action selects the capability: activate_revision | recalculate_dashboard | commit_improvement_package | adjust_shared_resource_cost. PREPARE only; ACT is gpt_commit_proposal.","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"},"description":"Required when commit_now=true."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GptGovernedOperationBody"},"example":{"action":"activate_revision","id":"<revisao_uuid>"},"examples":{"activate_revision":{"summary":"Activate revision","value":{"action":"activate_revision","id":"<revisao_uuid>"}},"recalculate_dashboard":{"summary":"Recalculate dashboard","value":{"action":"recalculate_dashboard","processo_id":"<processo_uuid>"}},"adjust_shared_resource_cost":{"summary":"Shared-resource cost adjustment","value":{"action":"adjust_shared_resource_cost","recurso_compartilhado_id":"<recurso_uuid>","valor_mensal":1500.0,"vigente_desde":"2026-10-01"}}}}}},"responses":{"200":{"description":"proposal_ready or persisted commit_now outcome","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}},"x-openai-isConsequential":false}},"/transformometro/gpt-actions/v1/evidence":{"get":{"operationId":"gpt_evidence_read","summary":"READ evidence family (list process or revision metadata)","description":"Read-only. action=list. scope=process|revision. No binary download.","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"action","in":"query","required":false,"schema":{"type":"string","enum":["list"],"default":"list"}},{"name":"scope","in":"query","required":true,"schema":{"type":"string","enum":["process","revision"]}},{"name":"parent_id","in":"query","required":true,"schema":{"type":"string"},"description":"processo_id or revisao_id"}],"responses":{"200":{"description":"Evidence list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}},"x-openai-isConsequential":false}},"/transformometro/gpt-actions/v1/evidence/prepare":{"post":{"operationId":"gpt_prepare_evidence_change","summary":"PREPARE evidence link/description/delete","description":"action=create_link|update_description|delete. PREPARE only — ACT is gpt_commit_proposal. Binary upload/download is BLOCKED_BY_PLATFORM. Delete requires confirm_delete=true.","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"},"description":"Required when commit_now=true."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GptEvidenceChangeBody"},"example":{"action":"create_link","scope":"process","parent_id":"<processo_uuid>","url_externa":"https://example.com/evidence","descricao":"Link de evidência"}}}},"responses":{"200":{"description":"proposal_ready or persisted commit_now outcome","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}},"x-openai-isConsequential":false}},"/transformometro/gpt-actions/v1/processes/{processo_id}/timeline":{"get":{"operationId":"gpt_get_process_timeline","summary":"Read process audit timeline","description":"Process-scoped audit trail only.","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"processo_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","default":1}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"Timeline","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}},"x-openai-isConsequential":false}},"/transformometro/gpt-actions/v1/meeting-minutes/read":{"post":{"operationId":"gpt_meeting_minute_read","summary":"READ meeting-minute family","description":"action=pending_signatures|audit|versions|participants|signers|generate_from_transcript. Read/analysis only — no PDF/PNG/public sign.","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GptMeetingMinuteReadBody"},"example":{"action":"pending_signatures"}}}},"responses":{"200":{"description":"Meeting minute read result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}},"x-openai-isConsequential":false}},"/transformometro/gpt-actions/v1/meeting-minutes/prepare":{"post":{"operationId":"gpt_prepare_meeting_minute_change","summary":"PREPARE meeting-minute change","description":"action=send|finalize|cancel|resend|create_version|set_participants|set_signers. PREPARE only — ACT is gpt_commit_proposal. Handwritten signature stays in UI/magic link.","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"},"description":"Required when commit_now=true."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GptMeetingMinuteChangeBody"},"example":{"action":"send","minute_id":"<minute_uuid>"}}}},"responses":{"200":{"description":"proposal_ready or persisted commit_now outcome","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}},"x-openai-isConsequential":false}},"/transformometro/gpt-actions/v1/collaboration":{"get":{"operationId":"gpt_collaboration_read","summary":"READ collaboration family (tasks + interaction rooms)","description":"Same canonical use cases as the Portal. action=my_tasks (status filter) | process_tasks (processo_id) | task (task_id) | rooms (inbox_filter) | room | messages | attachments (room_id; metadata only — binary transfer BLOCKED_BY_PLATFORM).","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"action","in":"query","required":true,"schema":{"type":"string","enum":["my_tasks","task","process_tasks","rooms","room","messages","attachments"]}},{"name":"task_id","in":"query","required":false,"schema":{"type":"string"}},{"name":"processo_id","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"room_id","in":"query","required":false,"schema":{"type":"string"}},{"name":"inbox_filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer"}},{"name":"before_id","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Collaboration data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}},"x-openai-isConsequential":false}},"/transformometro/gpt-actions/v1/collaboration/prepare":{"post":{"operationId":"gpt_prepare_collaboration_change","summary":"PREPARE collaboration change (tasks + rooms/messages)","description":"Collaboration writes (tasks + rooms/messages) — action selects the typed change via canonical use cases. PREPARE returns opaque proposal_handle; ACT is gpt_commit_proposal. Policy per action; no binary attachments.","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"},"description":"Required when commit_now=true."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GptCollaborationChangeBody"},"example":{"action":"create_task","title":"Follow up with process owner","due_date":"2026-12-01"}}}},"responses":{"200":{"description":"proposal_ready or persisted commit_now outcome","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}},"x-openai-isConsequential":false}},"/transformometro/gpt-actions/v1/records/prepare-change":{"post":{"operationId":"gpt_prepare_record_change","summary":"PREPARE entity change; optional commit_now for additive","description":"PREPARE exact change → opaque proposal_handle. Additive create/update/duplicate may set commit_now=true + confirmation + Idempotency-Key for atomic PREPARE+ACT. Delete ignores commit_now (confirm via gpt_commit_proposal).","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"},"description":"Required when commit_now=true (or body idempotency_key)."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GptPrepareRecordChangeBody"},"examples":{"prepare_only":{"summary":"PREPARE only","value":{"entity":"process_document","operation":"create","changes":{"processo_id":"00000000-0000-0000-0000-000000000001","title":"AS-IS notes","content_md":"# Draft"}}},"commit_now_additive":{"summary":"Additive PREPARE+ACT","value":{"entity":"process_document","operation":"create","changes":{"processo_id":"00000000-0000-0000-0000-000000000001","title":"AS-IS notes","content_md":"# Draft"},"commit_now":true,"confirmation":true,"idempotency_key":"teo-doc-create-1"}}}}}},"responses":{"200":{"description":"proposal_ready or persisted commit_now outcome","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}},"x-openai-isConsequential":false}},"/transformometro/gpt-actions/v1/proposals/commit":{"post":{"operationId":"gpt_commit_proposal","summary":"COMMIT opaque proposal_handle after confirmation","description":"NOT a generic proxy: executes only a server-side PREPARE proposal. Revalidates AuthZ + state fingerprint; authoritative read-back.","tags":["Transformômetro GPT"],"security":[{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GptCommitProposalBody"},"example":{"proposal_handle":"…","confirmation":true}}}},"responses":{"200":{"description":"verified commit outcome","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"400":{"description":"Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia","data":{"error_count":3,"errors":[{"field":"nome_recurso","reason":"Field required"},{"field":"tipo_custo","reason":"Field required"},{"field":"recorrencia","reason":"Field required"}]}}}}},"401":{"description":"Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Unauthorized","data":{"error_kind":"authn"}}}}},"403":{"description":"Authenticated but lacking permission. Read message + data.error_kind.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"},"example":{"success":false,"message":"Acesso negado.","data":{"error_kind":"authz"}}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"422":{"description":"Request body/query schema invalid. Read message + data.errors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}},"503":{"description":"Persistence/infrastructure failure. Read message + data.error_kind=persistence.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiEnvelope"}}}}},"x-openai-isConsequential":true}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Keycloak access token from OAuth Authorization Code (client chatgpt-transformometro). Audience must include delpi-central."}},"schemas":{"ApiEnvelope":{"type":"object","required":["success","message","data"],"description":"Canonical API envelope. On errors ALWAYS read message and data.errors — never report only the HTTP status code to the user.","properties":{"success":{"type":"boolean"},"message":{"type":"string","description":"Human-readable outcome or validation summary (e.g. missing required fields)."},"data":{"description":"Payload on success, or structured error details (often {errors:[{field,reason}], error_count})."}}},"GptMyContextResponse":{"type":"object","description":"Minimal personal context. Not authorization metadata.","properties":{"display_name":{"type":"string","nullable":true,"description":"Canonical display name from Core identity."},"email":{"type":"string","nullable":true,"description":"Corporate email from Core identity."},"job_title":{"type":"string","nullable":true,"description":"PersonProfile.job_title when registered."},"profile_complete":{"type":"boolean","description":"True when display_name and email are both present."}},"required":["display_name","email","job_title","profile_complete"],"additionalProperties":false,"example":{"display_name":"Robério","email":"roberio@example.com","job_title":"Gerente de Processos","profile_complete":true}},"GptRecordBody":{"type":"object","required":["data"],"description":"Wrapper required by GPT Actions. Never put CRUD fields at the root; always nest them under data. See gpt_get_catalog.registration_guide entity_schemas for required/optional per entity.","properties":{"data":{"type":"object","description":"CRUD payload keyed by entity. Explicit properties cover process, instance, revision, measurement, investment, shared_resource, resource_cost, resource_link, catalogs, documents and matrix writes.","properties":{"nome_processo":{"type":"string","description":"Required when entity=process (create)"},"status_processo":{"type":"string","description":"Required when entity=process"},"codigo_processo":{"type":"string","description":"Business process code"},"descricao_processo":{"type":"string","description":"On process update: omit keeps current; None clears"},"gestor_responsavel":{"type":"string","description":"On process update: omit keeps current; None clears"},"objetivo_processo":{"type":"string","description":"On process update: omit keeps current; None clears"},"familia_processo":{"type":"string"},"agrupador_ferramenta":{"type":"string"},"filial_ids":{"type":"array","items":{"type":"string"},"description":"Process scope units (when not todas_filiais_ativas)"},"processo_id":{"type":"string","description":"Parent/process id when creating instance/revision"},"instancia_id":{"type":"string"},"revisao_id":{"type":"string"},"recurso_compartilhado_id":{"type":"string","description":"Required when entity=resource_cost (create) or entity=r"},"recurso_id":{"type":"string","description":"Alias of recurso_compartilhado_id for resource_cost cre"},"filial_id":{"type":"string","description":"Required for entity=instance unless todas_filiais_ativa"},"todas_filiais_ativas":{"type":"boolean","default":false,"description":"When True, instance applies to all active units; do not"},"setor_ids":{"type":"array","items":{"type":"string"},"description":"Required for entity=instance (at least one)"},"setor_id":{"type":"string","description":"Legacy single-department shortcut"},"status_instancia":{"type":"string"},"rotulo_instancia":{"type":"string"},"responsavel_local":{"type":"string"},"data_alvo_go_live":{"type":"string"},"resumo_melhoria":{"type":"string"},"fase_melhoria":{"type":"string"},"prioridade":{"type":"string"},"versao_revisao":{"type":"string"},"cenario_tipo":{"type":"string"},"data_inicio_vigencia":{"type":"string","format":"date","description":"Revision or resource_cost start date (YYYY-MM-DD)"},"data_fim_vigencia":{"type":"string","format":"date","nullable":true,"description":"Omit = open/unset on create; null = clear on update; date = set"},"revisao_referencia_id":{"type":"string"},"beneficio_calculo_categoria":{"type":"string"},"descricao_revisao":{"type":"string"},"motivo_revisao":{"type":"string"},"data_implantacao":{"type":"string","format":"date"},"revisao_ativa":{"type":"boolean"},"confirm_vigencia_change":{"type":"boolean","description":"Required True when changing revision vigência and measu"},"observacoes":{"type":"string"},"volume_mensal":{"type":"number"},"tempo_medio_execucao_min":{"type":"number"},"tempo_retrabalho_min":{"type":"number"},"percentual_retrabalho":{"type":"number"},"percentual_erro":{"type":"number"},"quantidade_erros_mes":{"type":"number"},"custo_hora_mao_obra":{"type":"number"},"custo_unitario_erro":{"type":"number"},"custo_unitario_retrabalho":{"type":"number"},"custo_outros_desperdicios":{"type":"number"},"base_referencia_mes":{"type":"string"},"tipo_investimento":{"type":"string"},"descricao_item":{"type":"string"},"quantidade":{"type":"number"},"valor_unitario":{"type":"number"},"recorrencia":{"type":"string","description":"Investment or shared_resource recurrence (e"},"categoria_investimento":{"type":"string"},"data_investimento":{"type":"string","format":"date"},"meses_vigencia":{"type":"integer"},"centro_custo":{"type":"string"},"nome_recurso":{"type":"string"},"tipo_custo":{"type":"string"},"valor_total_recorrente":{"type":"number","description":"Legacy catalog total; prefer entity=resource_cost for v"},"criterio_rateio":{"type":"string"},"escopo_recurso":{"type":"string"},"base_competencia":{"type":"string"},"status_recurso":{"type":"string"},"categoria_recurso":{"type":"string"},"fornecedor":{"type":"string"},"codigo_recurso":{"type":"string"},"valor_mensal":{"type":"number","minimum":0,"description":"Monthly cost for entity=resource_cost"},"vigente_desde":{"type":"string","format":"date","description":"Used by UI reajuste flows; prefer data_inicio_vigencia "},"ativo":{"type":"boolean"},"data_inicio_uso":{"type":"string","format":"date"},"data_fim_uso":{"type":"string","format":"date"},"peso_rateio":{"type":"number"},"codigo_filial":{"type":"string"},"nome_filial":{"type":"string"},"status_filial":{"type":"string"},"codigo_setor":{"type":"string"},"nome_setor":{"type":"string"},"status_setor":{"type":"string"},"filiais":{"type":"array","items":{"type":"string"},"description":"Unit codes for entity=department"},"unit_code":{"type":"string","description":"Filial code for entity=meeting_minute (01|02; zero-padd"},"title":{"type":"string","description":"Title for entity=meeting_minute or entity=process_docum"},"content_md":{"type":"string","description":"Markdown body for entity=process_document"},"meeting_type":{"type":"string","enum":["ordinary","extraordinary","workshop","follow_up","kickoff","other"],"description":"Meeting type for entity=meeting_minute (default ordinar"},"meeting_date":{"type":"string","format":"date","description":"Required on meeting_minute create"},"start_time":{"type":"string","description":"Optional HH:MM or HH:MM:SS (not 14h30)"},"end_time":{"type":"string","description":"Optional HH:MM or HH:MM:SS (not 14h30)"},"location":{"type":"string"},"responsible_user_id":{"type":"string","description":"Optional UUID"},"responsible_name":{"type":"string"},"chair_name":{"type":"string"},"secretary_name":{"type":"string"},"agenda_html":{"type":"string"},"body_html":{"type":"string"},"decisions_html":{"type":"string"},"pending_html":{"type":"string"},"observations_html":{"type":"string"},"participants":{"type":"array","items":{"type":"object","additionalProperties":true,"properties":{},"x-delpi-gpt-opaque-object":true,"description":"Meeting-minute participant row. Entity-specific bag; signature capture remains UI-only."},"description":"Participants for entity=meeting_minute"},"signers":{"type":"array","items":{"type":"object","additionalProperties":true,"properties":{},"x-delpi-gpt-opaque-object":true,"description":"Meeting-minute signer row. Signature capture remains UI-only."},"description":"Signers for entity=meeting_minute (signature capture re"},"conteudo":{"type":"object","additionalProperties":true,"properties":{},"x-delpi-gpt-opaque-object":true,"description":"Document payload (diagram flowchart or decomposition tr"},"node_ids":{"type":"array","items":{"type":"string"},"description":"Scope node ids for instance diagram/decomposition scope"},"inherit_all":{"type":"boolean"},"include_boundary_edges":{"type":"boolean"},"include_descendants":{"type":"boolean"},"modo":{"type":"string","description":"Impact×effort matrix mode (entity=impact_effort_matrix)"},"inputs_manuais":{"type":"object","additionalProperties":true,"properties":{},"x-delpi-gpt-opaque-object":true,"description":"Impact×effort matrix manual inputs"},"overrides":{"type":"object","additionalProperties":true,"properties":{},"x-delpi-gpt-opaque-object":true,"description":"Impact×effort matrix overrides"}},"additionalProperties":true,"example":{"nome_processo":"Processo teste GPT","status_processo":"ativo","descricao_processo":"Criado via Custom GPT Action"}}},"example":{"data":{"nome_processo":"Processo teste GPT","status_processo":"ativo","descricao_processo":"Criado via Custom GPT Action"}}},"GptGovernedOperationBody":{"type":"object","required":["action"],"description":"Special governed operations. action selects the capability; only the fields relevant to the chosen action are consumed.","properties":{"action":{"type":"string","enum":["activate_revision","recalculate_dashboard","commit_improvement_package","adjust_shared_resource_cost"]},"id":{"type":"string","description":"revisao_id — required for activate_revision."},"revisao_id":{"type":"string"},"processo_id":{"type":"string"},"competencia_inicio":{"type":"string","description":"YYYY-MM — recalculate_dashboard filter."},"competencia_fim":{"type":"string","description":"YYYY-MM — recalculate_dashboard filter."},"recurso_compartilhado_id":{"type":"string","description":"Required for adjust_shared_resource_cost."},"valor_mensal":{"type":"number","minimum":0},"vigente_desde":{"type":"string","format":"date","description":"YYYY-MM-DD"},"observacoes":{"type":"string"},"process":{"type":"object","additionalProperties":true},"instance":{"type":"object","additionalProperties":true},"baseline":{"type":"object","additionalProperties":true},"scenario":{"type":"object","additionalProperties":true},"activate_scenario":{"type":"boolean","default":false},"recalculate":{"type":"boolean","default":false},"commit_now":{"type":"boolean","default":false},"confirmation":{"type":"boolean","default":false},"idempotency_key":{"type":"string"}},"additionalProperties":false,"example":{"action":"activate_revision","id":"<revisao_uuid>"}},"GptEvidenceChangeBody":{"type":"object","required":["action","scope","parent_id"],"description":"Link/metadata evidence only. Binary upload/download is BLOCKED_BY_PLATFORM for Custom GPT Actions.","properties":{"action":{"type":"string","enum":["create_link","update_description","delete"]},"scope":{"type":"string","enum":["process","revision"]},"parent_id":{"type":"string","description":"processo_id or revisao_id"},"evidence_id":{"type":"string","description":"Required for update_description|delete"},"url_externa":{"type":"string","description":"Required for create_link"},"descricao":{"type":"string"},"confirm_delete":{"type":"boolean","default":false,"description":"Must be true for delete"},"commit_now":{"type":"boolean","default":false},"confirmation":{"type":"boolean","default":false},"idempotency_key":{"type":"string"}},"additionalProperties":false,"example":{"action":"create_link","scope":"process","parent_id":"<processo_uuid>","url_externa":"https://example.com/evidence","descricao":"Link de evidência"}},"GptCollaborationChangeBody":{"type":"object","required":["action"],"description":"Collaboration governed write — tasks via TaskCommandUseCases, rooms/messages via InteractionRoomUseCases (same as the Portal). Binary attachment upload/download is BLOCKED_BY_PLATFORM.","properties":{"action":{"type":"string","enum":["create_task","update_task","complete_task","cancel_task","open_room","post_message","edit_message","delete_message","toggle_reaction","pin_message","unpin_message","mark_room_read"]},"task_id":{"type":"string","description":"Required for update_task|complete_task|cancel_task"},"title":{"type":"string","description":"Required for create_task|update_task (1-200 chars)"},"description":{"type":"string"},"assignee_user_id":{"type":"string"},"due_date":{"type":"string","format":"date","description":"YYYY-MM-DD"},"source_interaction_message_id":{"type":"string"},"processo_id":{"type":"string","description":"Required for open_room"},"room_id":{"type":"string","description":"Required for message ops + mark_room_read"},"message_id":{"type":"string","description":"Required for edit_message|delete_message|toggle_reaction|pin_message|unpin_message"},"content":{"type":"string","description":"Required for post_message|edit_message"},"parent_id":{"type":"string"},"mentions":{"type":"array","items":{"type":"object","additionalProperties":true,"properties":{"user_id":{"type":"string"},"label":{"type":"string"}}}},"reaction":{"type":"string","description":"Required for toggle_reaction (emoji code)"},"commit_now":{"type":"boolean","default":false},"confirmation":{"type":"boolean","default":false},"idempotency_key":{"type":"string"}},"additionalProperties":false,"example":{"action":"create_task","title":"Follow up with process owner","due_date":"2026-12-01"}},"GptMeetingMinuteReadBody":{"type":"object","required":["action"],"description":"Meeting-minute READ/analysis family. minute_id required except pending_signatures.","properties":{"action":{"type":"string","enum":["pending_signatures","audit","versions","participants","signers","generate_from_transcript"]},"minute_id":{"type":"string","description":"Required except pending_signatures"},"data":{"type":"object","additionalProperties":true,"description":"Action-specific payload. For generate_from_transcript: unit_code + transcript_html.","properties":{"unit_code":{"type":"string"},"transcript_html":{"type":"string"},"meeting_date":{"type":"string"},"title":{"type":"string"},"source":{"type":"string"}}}},"additionalProperties":false,"example":{"action":"pending_signatures"}},"GptMeetingMinuteChangeBody":{"type":"object","required":["action"],"description":"Meeting-minute governed write — workflow transitions (send|finalize|cancel) and manage writes (resend|create_version|set_participants|set_signers).","properties":{"action":{"type":"string","enum":["send","finalize","cancel","resend","create_version","set_participants","set_signers"]},"minute_id":{"type":"string","description":"Required — target meeting_minute id."},"reason":{"type":"string","description":"Optional cancel reason."},"data":{"type":"object","additionalProperties":true,"description":"Action-specific payload. For resend: {confirm_resend:true}. For set_participants/set_signers: participants[]/signers[].","properties":{"confirm_resend":{"type":"boolean"},"participants":{"type":"array","items":{"type":"object","additionalProperties":true,"properties":{"user_id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"}}}},"signers":{"type":"array","items":{"type":"object","additionalProperties":true,"properties":{"user_id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"}}}}}},"commit_now":{"type":"boolean","default":false},"confirmation":{"type":"boolean","default":false},"idempotency_key":{"type":"string"}},"additionalProperties":false,"example":{"action":"send","minute_id":"<minute_uuid>"}},"GptImprovementPackageBody":{"type":"object","description":"Nested improvement package only. Never put revision fields flat under scenario (e.g. scenario.versao_revisao). Always use scenario.revision.{fields} and baseline.revision.{fields}. Never put processo_id/instancia_id on scenario root; use process and instance. measurement belongs under baseline.measurement or scenario.measurement.","properties":{"dry_run":{"type":"boolean","default":false,"description":"When true: HTTP 200, no writes; ready=false + missing[] if incomplete. ready=false is checklist guidance, not tool failure."},"activate_scenario":{"type":"boolean","default":false,"description":"Activate the scenario revision after successful commit only (never during dry_run)."},"recalculate":{"type":"boolean","default":false,"description":"Recalculate dashboard cache after successful commit."},"process":{"type":"object","description":"REQUIRED. Reuse with id or processo_id, OR create with nome_processo + status_processo (+ optional process fields).","properties":{"id":{"type":"string","description":"Existing processo_id alias."},"processo_id":{"type":"string","description":"Existing process id to reuse."},"nome_processo":{"type":"string"},"status_processo":{"type":"string"},"descricao_processo":{"type":"string"},"gestor_responsavel":{"type":"string"},"objetivo_processo":{"type":"string"},"codigo_processo":{"type":"string"},"familia_processo":{"type":"string"},"agrupador_ferramenta":{"type":"string"},"filial_id":{"type":"string"}},"additionalProperties":true},"instance":{"type":"object","description":"REQUIRED. Reuse with id or instancia_id, OR create with setor_ids and filial_id|todas_filiais_ativas.","properties":{"id":{"type":"string","description":"Existing instancia_id alias."},"instancia_id":{"type":"string","description":"Existing instance id to reuse."},"filial_id":{"type":"string"},"todas_filiais_ativas":{"type":"boolean"},"setor_ids":{"type":"array","items":{"type":"string"}},"setor_id":{"type":"string","description":"Legacy single setor; prefer setor_ids."},"resumo_melhoria":{"type":"string"},"fase_melhoria":{"type":"string"},"prioridade":{"type":"string"},"status_instancia":{"type":"string"}},"additionalProperties":true},"baseline":{"type":"object","description":"Optional baseline block. Nested revision + measurement (volume_mensal + tempo_medio_execucao_min required when creating). cenario_tipo is forced to baseline by the service.","properties":{"revision":{"$ref":"#/components/schemas/GptPackageRevision"},"measurement":{"$ref":"#/components/schemas/GptPackageMeasurement"}},"additionalProperties":false},"scenario":{"type":"object","description":"Optional scenario block. MUST nest revision under scenario.revision (never flat versao_revisao/processo_id on scenario root). New scenario.revision REQUIRES scenario.measurement (volume_mensal + tempo_medio_execucao_min). revisao_referencia_id required unless baseline is in the same package. investments may be [].","properties":{"revision":{"$ref":"#/components/schemas/GptPackageRevision"},"measurement":{"$ref":"#/components/schemas/GptPackageMeasurement"},"investments":{"type":"array","description":"Investment lines; empty array is valid.","items":{"$ref":"#/components/schemas/GptPackageInvestment"}}},"additionalProperties":false}}},"GptPackageRevision":{"type":"object","description":"Revision fields for baseline.revision or scenario.revision. beneficio_calculo_categoria belongs here, not on measurement.","properties":{"id":{"type":"string","description":"Existing revisao_id alias for update/reuse."},"revisao_id":{"type":"string","description":"Existing revision id for update/reuse."},"versao_revisao":{"type":"string","description":"Required on create (e.g. 2.1.0)."},"cenario_tipo":{"type":"string","enum":["baseline","melhoria","automacao","correcao"],"description":"Required on create for scenario; forced to baseline in baseline block."},"data_inicio_vigencia":{"type":"string","description":"Required on create (YYYY-MM-DD)."},"revisao_ativa":{"type":"boolean","default":false},"revisao_referencia_id":{"type":"string","description":"Required for non-baseline create unless baseline is created in the same package."},"beneficio_calculo_categoria":{"type":"string","enum":["automatico","economia_tempo","reducao_volume","ganho_capacidade","economia_qualidade","misto"],"default":"automatico","description":"Belongs on revision, not measurement."},"descricao_revisao":{"type":"string"},"motivo_revisao":{"type":"string"},"data_implantacao":{"type":"string","description":"YYYY-MM-DD","nullable":true},"data_fim_vigencia":{"type":"string","format":"date","nullable":true,"description":"YYYY-MM-DD end date, or null for open vigencia. Omitted on create = leave NULL (do not invent today). Omitted on update (GPT) = keep current; explicit null = clear."},"observacoes":{"type":"string"}},"additionalProperties":true},"GptPackageMeasurement":{"type":"object","description":"Required when creating a new revision in the package. Must include volume_mensal and tempo_medio_execucao_min.","required":["volume_mensal","tempo_medio_execucao_min"],"properties":{"volume_mensal":{"type":"number","default":0},"tempo_medio_execucao_min":{"type":"number","default":0},"tempo_retrabalho_min":{"type":"number","default":0},"percentual_retrabalho":{"type":"number","default":0},"percentual_erro":{"type":"number","default":0},"quantidade_erros_mes":{"type":"number","default":0},"custo_hora_mao_obra":{"type":"number","default":0},"custo_unitario_erro":{"type":"number","default":0},"custo_unitario_retrabalho":{"type":"number","default":0},"custo_outros_desperdicios":{"type":"number","default":0},"base_referencia_mes":{"type":"string","description":"Optional YYYY-MM reference month."},"observacoes":{"type":"string"}},"additionalProperties":true},"GptPackageInvestment":{"type":"object","description":"One investment item inside scenario.investments[].","properties":{"tipo_investimento":{"type":"string","enum":["fixo","variavel","recorrente","unico"]},"descricao_item":{"type":"string"},"quantidade":{"type":"number","default":1},"valor_unitario":{"type":"number","default":0},"recorrencia":{"type":"string","enum":["unico","mensal","anual"],"default":"unico"},"categoria_investimento":{"type":"string"},"data_investimento":{"type":"string"},"meses_vigencia":{"type":"integer"},"centro_custo":{"type":"string"},"observacoes":{"type":"string"}},"additionalProperties":true},"GptPrepareRecordChangeBody":{"type":"object","required":["entity","operation"],"additionalProperties":false,"properties":{"entity":{"type":"string","enum":["branch","department","process","instance","revision","measurement","investment","shared_resource","resource_cost","resource_link","meeting_minute","process_document","decomposition_tree","instance_decomposition_scope","revision_decomposition_overlay","process_diagram","instance_diagram_scope","revision_diagram_overlay","impact_effort_matrix"],"description":"Entity slug (see enum). Cadastro: process, instance, revision, measurement, investment. Catalog: branch, department, shared_resource. Atas: meeting_minute. Process knowledge (Markdown): process_document. Documents: decomposition_tree, process_diagram, impact_effort_matrix and related overlays."},"operation":{"type":"string","enum":["create","update","delete","duplicate"],"description":"Entity must allow the operation (see catalog.capability_surface)."},"record_id":{"type":"string","description":"Required for update/delete/duplicate."},"changes":{"type":"object","additionalProperties":true,"description":"Canonical entity fields only (same as former data{}). Server-owned fields rejected.","properties":{"nome_processo":{"type":"string","description":"Required when entity=process (create)"},"status_processo":{"type":"string","description":"Required when entity=process"},"codigo_processo":{"type":"string","description":"Business process code"},"descricao_processo":{"type":"string","description":"On process update: omit keeps current; None clears"},"gestor_responsavel":{"type":"string","description":"On process update: omit keeps current; None clears"},"objetivo_processo":{"type":"string","description":"On process update: omit keeps current; None clears"},"familia_processo":{"type":"string"},"agrupador_ferramenta":{"type":"string"},"filial_ids":{"type":"array","items":{"type":"string"},"description":"Process scope units (when not todas_filiais_ativas)"},"processo_id":{"type":"string","description":"Parent/process id when creating instance/revision"},"instancia_id":{"type":"string"},"revisao_id":{"type":"string"},"recurso_compartilhado_id":{"type":"string","description":"Required when entity=resource_cost (create) or entity=r"},"recurso_id":{"type":"string","description":"Alias of recurso_compartilhado_id for resource_cost cre"},"filial_id":{"type":"string","description":"Required for entity=instance unless todas_filiais_ativa"},"todas_filiais_ativas":{"type":"boolean","default":false,"description":"When True, instance applies to all active units; do not"},"setor_ids":{"type":"array","items":{"type":"string"},"description":"Required for entity=instance (at least one)"},"setor_id":{"type":"string","description":"Legacy single-department shortcut"},"status_instancia":{"type":"string"},"rotulo_instancia":{"type":"string"},"responsavel_local":{"type":"string"},"data_alvo_go_live":{"type":"string"},"resumo_melhoria":{"type":"string"},"fase_melhoria":{"type":"string"},"prioridade":{"type":"string"},"versao_revisao":{"type":"string"},"cenario_tipo":{"type":"string"},"data_inicio_vigencia":{"type":"string","format":"date","description":"Revision or resource_cost start date (YYYY-MM-DD)"},"data_fim_vigencia":{"type":"string","format":"date","nullable":true,"description":"Omit = open/unset on create; null = clear on update; date = set"},"revisao_referencia_id":{"type":"string"},"beneficio_calculo_categoria":{"type":"string"},"descricao_revisao":{"type":"string"},"motivo_revisao":{"type":"string"},"data_implantacao":{"type":"string","format":"date"},"revisao_ativa":{"type":"boolean"},"confirm_vigencia_change":{"type":"boolean","description":"Required True when changing revision vigência and measu"},"observacoes":{"type":"string"},"volume_mensal":{"type":"number"},"tempo_medio_execucao_min":{"type":"number"},"tempo_retrabalho_min":{"type":"number"},"percentual_retrabalho":{"type":"number"},"percentual_erro":{"type":"number"},"quantidade_erros_mes":{"type":"number"},"custo_hora_mao_obra":{"type":"number"},"custo_unitario_erro":{"type":"number"},"custo_unitario_retrabalho":{"type":"number"},"custo_outros_desperdicios":{"type":"number"},"base_referencia_mes":{"type":"string"},"tipo_investimento":{"type":"string"},"descricao_item":{"type":"string"},"quantidade":{"type":"number"},"valor_unitario":{"type":"number"},"recorrencia":{"type":"string","description":"Investment or shared_resource recurrence (e"},"categoria_investimento":{"type":"string"},"data_investimento":{"type":"string","format":"date"},"meses_vigencia":{"type":"integer"},"centro_custo":{"type":"string"},"nome_recurso":{"type":"string"},"tipo_custo":{"type":"string"},"valor_total_recorrente":{"type":"number","description":"Legacy catalog total; prefer entity=resource_cost for v"},"criterio_rateio":{"type":"string"},"escopo_recurso":{"type":"string"},"base_competencia":{"type":"string"},"status_recurso":{"type":"string"},"categoria_recurso":{"type":"string"},"fornecedor":{"type":"string"},"codigo_recurso":{"type":"string"},"valor_mensal":{"type":"number","minimum":0,"description":"Monthly cost for entity=resource_cost"},"vigente_desde":{"type":"string","format":"date","description":"Used by UI reajuste flows; prefer data_inicio_vigencia "},"ativo":{"type":"boolean"},"data_inicio_uso":{"type":"string","format":"date"},"data_fim_uso":{"type":"string","format":"date"},"peso_rateio":{"type":"number"},"codigo_filial":{"type":"string"},"nome_filial":{"type":"string"},"status_filial":{"type":"string"},"codigo_setor":{"type":"string"},"nome_setor":{"type":"string"},"status_setor":{"type":"string"},"filiais":{"type":"array","items":{"type":"string"},"description":"Unit codes for entity=department"},"unit_code":{"type":"string","description":"Filial code for entity=meeting_minute (01|02; zero-padd"},"title":{"type":"string","description":"Title for entity=meeting_minute or entity=process_docum"},"content_md":{"type":"string","description":"Markdown body for entity=process_document"},"meeting_type":{"type":"string","enum":["ordinary","extraordinary","workshop","follow_up","kickoff","other"],"description":"Meeting type for entity=meeting_minute (default ordinar"},"meeting_date":{"type":"string","format":"date","description":"Required on meeting_minute create"},"start_time":{"type":"string","description":"Optional HH:MM or HH:MM:SS (not 14h30)"},"end_time":{"type":"string","description":"Optional HH:MM or HH:MM:SS (not 14h30)"},"location":{"type":"string"},"responsible_user_id":{"type":"string","description":"Optional UUID"},"responsible_name":{"type":"string"},"chair_name":{"type":"string"},"secretary_name":{"type":"string"},"agenda_html":{"type":"string"},"body_html":{"type":"string"},"decisions_html":{"type":"string"},"pending_html":{"type":"string"},"observations_html":{"type":"string"},"participants":{"type":"array","items":{"type":"object","additionalProperties":true,"properties":{},"x-delpi-gpt-opaque-object":true,"description":"Meeting-minute participant row. Entity-specific bag; signature capture remains UI-only."},"description":"Participants for entity=meeting_minute"},"signers":{"type":"array","items":{"type":"object","additionalProperties":true,"properties":{},"x-delpi-gpt-opaque-object":true,"description":"Meeting-minute signer row. Signature capture remains UI-only."},"description":"Signers for entity=meeting_minute (signature capture re"},"conteudo":{"type":"object","additionalProperties":true,"properties":{},"x-delpi-gpt-opaque-object":true,"description":"Document payload (diagram flowchart or decomposition tr"},"node_ids":{"type":"array","items":{"type":"string"},"description":"Scope node ids for instance diagram/decomposition scope"},"inherit_all":{"type":"boolean"},"include_boundary_edges":{"type":"boolean"},"include_descendants":{"type":"boolean"},"modo":{"type":"string","description":"Impact×effort matrix mode (entity=impact_effort_matrix)"},"inputs_manuais":{"type":"object","additionalProperties":true,"properties":{},"x-delpi-gpt-opaque-object":true,"description":"Impact×effort matrix manual inputs"},"overrides":{"type":"object","additionalProperties":true,"properties":{},"x-delpi-gpt-opaque-object":true,"description":"Impact×effort matrix overrides"}}},"commit_now":{"type":"boolean","default":false,"description":"When true and policy allows (create/update/duplicate), PREPARE+ACT atomically. Requires confirmation=true and Idempotency-Key. Ignored for delete."},"confirmation":{"type":"boolean","default":false,"description":"Required true when commit_now=true (not AuthZ)."},"idempotency_key":{"type":"string","description":"Fallback when Idempotency-Key header is missing. Required for commit_now."}}},"GptCommitProposalBody":{"type":"object","required":["proposal_handle","confirmation"],"additionalProperties":false,"properties":{"proposal_handle":{"type":"string","description":"Opaque server handle from PREPARE. Do not invent."},"confirmation":{"type":"boolean","description":"Must be true after showing proposal to the user. Not AuthZ; backend revalidates."}}}}}}
