{
  "openapi": "3.1.1",
  "info": {
    "title": "Transformômetro API — Custom GPT Actions",
    "description": "Compact facade for OpenAI Custom GPT. Analyzes KPIs and creates/edits Transformômetro records with the same Keycloak JWT + Core RBAC as the UI. Do not expose binary uploads, collaboration locks, or public signature signing here.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://minhadelpi.com.br/apps/transformometro-api",
      "description": "Minha DELPI gateway"
    }
  ],
  "tags": [
    {
      "name": "Transformômetro GPT",
      "description": "Custom GPT Actions for analyze / register / edit."
    }
  ],
  "paths": {
    "/transformometro/gpt-actions/v1/me": {
      "get": {
        "operationId": "gpt_get_my_context",
        "summary": "Minimal personal context for the authenticated user",
        "description": "Read-only personal context (display name, email, job title). PROFILE CONTEXT != AUTHORIZATION — never exposes roles, permissions, groups or access_scope. Identity is resolved only from the authenticated Bearer token; no user_id input.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Personal context payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/transformometro/gpt-actions/v1/catalog": {
      "get": {
        "operationId": "gpt_get_catalog",
        "summary": "Catalog options for Transformômetro forms",
        "description": "Returns units, departments, enums, access scope, and registration_guide (concepts, flow, entity_schemas) for guided signup. Call this before creating processes or instances.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/transformometro/gpt-actions/v1/methodology-guide": {
      "get": {
        "operationId": "gpt_get_methodology_guide",
        "summary": "Read-only process methodology playbooks",
        "description": "READ-only guidance. Not a fact, not authorization, and not a write. Optional method and task. Same source as MCP get_methodology_guide.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "macroprocess",
                "key_process",
                "end_to_end",
                "sipoc",
                "lean",
                "ishikawa",
                "five_whys",
                "ctp",
                "tdr",
                "kpi",
                "swot",
                "as_is",
                "to_be"
              ]
            },
            "description": "Optional method id: macroprocess, key_process, end_to_end, sipoc, lean, ishikawa, five_whys, ctp, tdr, kpi, swot, as_is, to_be. Omit to receive the router."
          },
          {
            "name": "task",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "discover",
                "map",
                "diagnose",
                "redesign",
                "measure",
                "prioritize",
                "interview"
              ]
            },
            "description": "Optional task: discover, map, diagnose, redesign, measure, prioritize, interview. Selects the smallest recommended methods."
          }
        ],
        "responses": {
          "200": {
            "description": "Methodology guide payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/transformometro/gpt-actions/v1/process-context": {
      "get": {
        "operationId": "gpt_get_process_context",
        "summary": "Aggregated read-only process intelligence context",
        "description": "Ephemeral Process Business Graph from authoritative records. No side effects. Use before diagnosis or registration.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "process_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Master process UUID (processo_id)."
          },
          {
            "name": "instance_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional melhoria UUID to isolate one instance."
          },
          {
            "name": "revision_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional revision UUID for scenario selection."
          }
        ],
        "responses": {
          "200": {
            "description": "Process intelligence context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/transformometro/gpt-actions/v1/analysis": {
      "get": {
        "operationId": "gpt_analyze",
        "summary": "Analyze dashboard KPIs from snapshot/live cache",
        "description": "Read-only analytics. Prefer `summary` for totals, `processes` for ranking, `instances` for operational improvements, `rows` for revision-level detail, `meta` to check cache freshness. Competencies use YYYY-MM.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "meta",
                "summary",
                "processes",
                "instances",
                "rows"
              ]
            },
            "description": "Analysis view to return."
          },
          {
            "name": "filial_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Unit code (01, 02)."
          },
          {
            "name": "setor_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Department reference: UUID (setor_id) or business code (codigo_setor, e.g. comercial)."
          },
          {
            "name": "processo_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter processes/instances/rows to this process UUID. Does not widen authorization scope."
          },
          {
            "name": "revisao_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "familia_processo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "competencia_inicio",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}$"
            },
            "description": "Start month YYYY-MM."
          },
          {
            "name": "competencia_fim",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}$"
            },
            "description": "End month YYYY-MM."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/transformometro/gpt-actions/v1/records/{entity}": {
      "get": {
        "operationId": "gpt_search_records",
        "summary": "Search or list records by entity",
        "description": "List records. Use `parent_id` for children (instances/revisions of a process, investments of a revision). For revisions prefer `instance_id` to isolate one melhoria. Use `q` for process text search.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "branch",
                "department",
                "process",
                "instance",
                "revision",
                "measurement",
                "investment",
                "shared_resource",
                "resource_cost",
                "resource_link",
                "meeting_minute",
                "process_document",
                "decomposition_tree",
                "instance_decomposition_scope",
                "revision_decomposition_overlay",
                "process_diagram",
                "instance_diagram_scope",
                "revision_diagram_overlay",
                "impact_effort_matrix"
              ]
            },
            "description": "Entity slug (see enum). Cadastro: process, instance, revision, measurement, investment. Catalog: branch, department, shared_resource. Atas: meeting_minute. Process knowledge (Markdown): process_document. Documents: decomposition_tree, process_diagram, impact_effort_matrix and related overlays."
          },
          {
            "name": "parent_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instance_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "When entity=revision, list only revisions of this instancia_id (melhoria). Preferred over parent_id."
          },
          {
            "name": "filial_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "setor_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Department reference: UUID (setor_id) or business code (codigo_setor, e.g. comercial)."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "familia_processo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Process text search (nome, codigo, familia, descricao, objetivo). Use short keywords; try progressive fallbacks if empty."
          },
          {
            "name": "unit_code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/transformometro/gpt-actions/v1/records/{entity}/{id}": {
      "get": {
        "operationId": "gpt_get_record",
        "summary": "Get one record by entity and id",
        "description": "For measurement, id is revisao_id. For decomposition/diagram entities, id is the parent (processo_id / instancia_id / revisao_id).",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "branch",
                "department",
                "process",
                "instance",
                "revision",
                "measurement",
                "investment",
                "shared_resource",
                "resource_cost",
                "resource_link",
                "meeting_minute",
                "process_document",
                "decomposition_tree",
                "instance_decomposition_scope",
                "revision_decomposition_overlay",
                "process_diagram",
                "instance_diagram_scope",
                "revision_diagram_overlay",
                "impact_effort_matrix"
              ]
            },
            "description": "Entity slug (see enum). Cadastro: process, instance, revision, measurement, investment. Catalog: branch, department, shared_resource. Atas: meeting_minute. Process knowledge (Markdown): process_document. Documents: decomposition_tree, process_diagram, impact_effort_matrix and related overlays."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/transformometro/gpt-actions/v1/revisions/{id}/activate": {
      "post": {
        "operationId": "gpt_activate_revision",
        "summary": "Activate a revision as the operational current version",
        "description": "Path id = revisao_id UUID. No required body. Consequential write. PREPARE only — commit via gpt_commit_proposal.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "revisao_id to activate."
          }
        ],
        "responses": {
          "200": {
            "description": "Activated revision",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/transformometro/gpt-actions/v1/dashboard/recalculate": {
      "post": {
        "operationId": "gpt_recalculate_dashboard",
        "summary": "Recalculate materialised dashboard cache",
        "description": "Optional filters in JSON body: revisao_id, processo_id, competencia_inicio, competencia_fim. PREPARE only — commit via gpt_commit_proposal.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptRecalculateBody"
              },
              "example": {
                "processo_id": "<processo_uuid>",
                "revisao_id": "<revisao_uuid>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recalculation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/transformometro/gpt-actions/v1/meeting-minutes/{id}/workflow": {
      "post": {
        "operationId": "gpt_meeting_minute_workflow",
        "summary": "Send, finalize, or cancel a meeting minute",
        "description": "Body requires action enum. Handwritten signature stays in UI/magic link. PREPARE only — commit via gpt_commit_proposal.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "meeting_minute id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptMeetingMinuteWorkflowBody"
              },
              "example": {
                "action": "send"
              },
              "examples": {
                "send": {
                  "summary": "Send",
                  "value": {
                    "action": "send"
                  }
                },
                "finalize": {
                  "summary": "Finalize",
                  "value": {
                    "action": "finalize"
                  }
                },
                "cancel": {
                  "summary": "Cancel",
                  "value": {
                    "action": "cancel",
                    "reason": "Cancelado no teste GPT"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/transformometro/gpt-actions/v1/improvement-packages/validate": {
      "post": {
        "operationId": "gpt_validate_improvement_package",
        "summary": "Validate a guided improvement package (no write)",
        "description": "Validates a nested improvement package. Never writes, activates or recalculates. Returns ready/missing/checklist. PREPARE only — commit via gpt_commit_proposal.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptValidateImprovementPackageBody"
              },
              "example": {
                "process": {
                  "processo_id": "<uuid>"
                },
                "instance": {
                  "instancia_id": "<uuid>"
                },
                "scenario": {
                  "revision": {
                    "revisao_referencia_id": "<uuid>",
                    "versao_revisao": "2.1.0",
                    "cenario_tipo": "melhoria",
                    "data_inicio_vigencia": "YYYY-MM-DD",
                    "data_implantacao": "YYYY-MM-DD",
                    "descricao_revisao": "...",
                    "motivo_revisao": "...",
                    "beneficio_calculo_categoria": "automatico"
                  },
                  "measurement": {
                    "volume_mensal": 0,
                    "tempo_medio_execucao_min": 0,
                    "percentual_retrabalho": 0,
                    "percentual_erro": 0,
                    "base_referencia_mes": "YYYY-MM"
                  },
                  "investments": []
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation checklist (never persists)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/transformometro/gpt-actions/v1/evidence": {
      "get": {
        "operationId": "gpt_list_evidence",
        "summary": "List process or revision evidence metadata",
        "description": "Read-only. scope=process|revision. No binary download.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "process",
                "revision"
              ]
            }
          },
          {
            "name": "parent_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "processo_id or revisao_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Evidence list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/transformometro/gpt-actions/v1/evidence/manage": {
      "post": {
        "operationId": "gpt_manage_evidence",
        "summary": "Manage external-link evidence metadata",
        "description": "create_link|update_description|delete. Binary upload blocked. Delete requires confirm_delete=true. PREPARE only — commit via gpt_commit_proposal.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptEvidenceManageBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evidence write result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "201": {
            "description": "Evidence created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/transformometro/gpt-actions/v1/processes/{processo_id}/timeline": {
      "get": {
        "operationId": "gpt_get_process_timeline",
        "summary": "Read process audit timeline",
        "description": "Process-scoped audit trail only.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "processo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timeline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/transformometro/gpt-actions/v1/shared-resources/adjust-cost": {
      "post": {
        "operationId": "gpt_adjust_shared_resource_cost",
        "summary": "Register shared-resource cost adjustment",
        "description": "Canonical registrar_reajuste. Not generic resource_cost update. PREPARE only — commit via gpt_commit_proposal.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptAdjustSharedResourceCostBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cost adjustment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/transformometro/gpt-actions/v1/meeting-minutes/manage": {
      "post": {
        "operationId": "gpt_meeting_minute_manage",
        "summary": "Meeting-minute extras (not send/finalize/cancel)",
        "description": "READ actions return immediately. WRITE actions return a PREPARE proposal; commit via gpt_commit_proposal.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptMeetingMinuteManageBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Meeting minute manage result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/transformometro/gpt-actions/v1/records/prepare-change": {
      "post": {
        "operationId": "gpt_prepare_record_change",
        "summary": "PREPARE entity create/update/delete/duplicate (no write)",
        "description": "READ CURRENT STATE → validate → return opaque proposal_handle. No DB write. Then show proposal and call gpt_commit_proposal.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptPrepareRecordChangeBody"
              },
              "example": {
                "entity": "process_document",
                "operation": "create",
                "changes": {
                  "processo_id": "00000000-0000-0000-0000-000000000001",
                  "title": "AS-IS notes",
                  "content_md": "# Draft"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "proposal_ready envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/transformometro/gpt-actions/v1/proposals/commit": {
      "post": {
        "operationId": "gpt_commit_proposal",
        "summary": "COMMIT opaque proposal_handle after confirmation",
        "description": "NOT a generic proxy: executes only a server-side PREPARE proposal. Revalidates AuthZ + state fingerprint; authoritative read-back.",
        "tags": [
          "Transformômetro GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptCommitProposalBody"
              },
              "example": {
                "proposal_handle": "…",
                "confirmation": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "verified commit outcome",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or domain error. Body is ApiEnvelope with success=false; read message + data.errors (do not show only HTTP 400).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Campos obrigatórios ausentes: nome_recurso, tipo_custo, recorrencia",
                  "data": {
                    "error_count": 3,
                    "errors": [
                      {
                        "field": "nome_recurso",
                        "reason": "Field required"
                      },
                      {
                        "field": "tipo_custo",
                        "reason": "Field required"
                      },
                      {
                        "field": "recorrencia",
                        "reason": "Field required"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Bearer. ApiEnvelope message explains AuthN; read message (not only HTTP 401).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized",
                  "data": {
                    "error_kind": "authn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking permission. Read message + data.error_kind.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "success": false,
                  "message": "Acesso negado.",
                  "data": {
                    "error_kind": "authz"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request body/query schema invalid. Read message + data.errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Persistence/infrastructure failure. Read message + data.error_kind=persistence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": true
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Keycloak access token from OAuth Authorization Code (client chatgpt-transformometro). Audience must include delpi-central."
      }
    },
    "schemas": {
      "ApiEnvelope": {
        "type": "object",
        "required": [
          "success",
          "message",
          "data"
        ],
        "description": "Canonical API envelope. On errors ALWAYS read message and data.errors — never report only the HTTP status code to the user.",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "description": "Human-readable outcome or validation summary (e.g. missing required fields)."
          },
          "data": {
            "description": "Payload on success, or structured error details (often {errors:[{field,reason}], error_count})."
          }
        }
      },
      "GptMyContextResponse": {
        "type": "object",
        "description": "Minimal personal context. Not authorization metadata.",
        "properties": {
          "display_name": {
            "type": "string",
            "nullable": true,
            "description": "Canonical display name from Core identity."
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Corporate email from Core identity."
          },
          "job_title": {
            "type": "string",
            "nullable": true,
            "description": "PersonProfile.job_title when registered."
          },
          "profile_complete": {
            "type": "boolean",
            "description": "True when display_name and email are both present."
          }
        },
        "required": [
          "display_name",
          "email",
          "job_title",
          "profile_complete"
        ],
        "additionalProperties": false,
        "example": {
          "display_name": "Robério",
          "email": "roberio@example.com",
          "job_title": "Gerente de Processos",
          "profile_complete": true
        }
      },
      "GptRecordBody": {
        "type": "object",
        "required": [
          "data"
        ],
        "description": "Wrapper required by GPT Actions. Never put CRUD fields at the root; always nest them under data. See gpt_get_catalog.registration_guide entity_schemas for required/optional per entity.",
        "properties": {
          "data": {
            "type": "object",
            "description": "CRUD payload keyed by entity. Explicit properties cover process, instance, revision, measurement, investment, shared_resource, resource_cost, resource_link, catalogs, documents and matrix writes.",
            "properties": {
              "nome_processo": {
                "type": "string",
                "description": "Required when entity=process (create)."
              },
              "status_processo": {
                "type": "string",
                "description": "Required when entity=process. Typical: ativo."
              },
              "codigo_processo": {
                "type": "string",
                "description": "Business process code. Optional on create (auto-generated if omitted). Mutable on update; omit/null keeps current (never clears). Distinct from immutable processo_id."
              },
              "descricao_processo": {
                "type": "string",
                "description": "On process update: omit keeps current; null clears."
              },
              "gestor_responsavel": {
                "type": "string",
                "description": "On process update: omit keeps current; null clears."
              },
              "objetivo_processo": {
                "type": "string",
                "description": "On process update: omit keeps current; null clears."
              },
              "familia_processo": {
                "type": "string"
              },
              "agrupador_ferramenta": {
                "type": "string"
              },
              "filial_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Process scope units (when not todas_filiais_ativas)."
              },
              "processo_id": {
                "type": "string",
                "description": "Parent/process id when creating instance/revision."
              },
              "instancia_id": {
                "type": "string"
              },
              "revisao_id": {
                "type": "string"
              },
              "recurso_compartilhado_id": {
                "type": "string",
                "description": "Required when entity=resource_cost (create) or entity=resource_link. Alias: recurso_id."
              },
              "recurso_id": {
                "type": "string",
                "description": "Alias of recurso_compartilhado_id for resource_cost create."
              },
              "filial_id": {
                "type": "string",
                "description": "Required for entity=instance unless todas_filiais_ativas=true (omit filial_id then)."
              },
              "todas_filiais_ativas": {
                "type": "boolean",
                "description": "When true, instance applies to all active units; do not send filial_id.",
                "default": false
              },
              "setor_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Required for entity=instance (at least one)."
              },
              "setor_id": {
                "type": "string",
                "description": "Legacy single-department shortcut."
              },
              "status_instancia": {
                "type": "string"
              },
              "rotulo_instancia": {
                "type": "string"
              },
              "responsavel_local": {
                "type": "string"
              },
              "data_alvo_go_live": {
                "type": "string"
              },
              "resumo_melhoria": {
                "type": "string"
              },
              "fase_melhoria": {
                "type": "string"
              },
              "prioridade": {
                "type": "string"
              },
              "versao_revisao": {
                "type": "string"
              },
              "cenario_tipo": {
                "type": "string"
              },
              "data_inicio_vigencia": {
                "type": "string",
                "format": "date",
                "description": "Revision or resource_cost start date (YYYY-MM-DD). Required on resource_cost create; optional on update (merges)."
              },
              "data_fim_vigencia": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date",
                "description": "Omit = open/unset on create; null = clear on update; date = set. Never invent today."
              },
              "revisao_referencia_id": {
                "type": "string"
              },
              "beneficio_calculo_categoria": {
                "type": "string"
              },
              "descricao_revisao": {
                "type": "string"
              },
              "motivo_revisao": {
                "type": "string"
              },
              "data_implantacao": {
                "type": "string",
                "format": "date"
              },
              "revisao_ativa": {
                "type": "boolean"
              },
              "confirm_vigencia_change": {
                "type": "boolean",
                "description": "Required true when changing revision vigência and measurement exists."
              },
              "observacoes": {
                "type": "string"
              },
              "volume_mensal": {
                "type": "number"
              },
              "tempo_medio_execucao_min": {
                "type": "number"
              },
              "tempo_retrabalho_min": {
                "type": "number"
              },
              "percentual_retrabalho": {
                "type": "number"
              },
              "percentual_erro": {
                "type": "number"
              },
              "quantidade_erros_mes": {
                "type": "number"
              },
              "custo_hora_mao_obra": {
                "type": "number"
              },
              "custo_unitario_erro": {
                "type": "number"
              },
              "custo_unitario_retrabalho": {
                "type": "number"
              },
              "custo_outros_desperdicios": {
                "type": "number"
              },
              "base_referencia_mes": {
                "type": "string"
              },
              "tipo_investimento": {
                "type": "string"
              },
              "descricao_item": {
                "type": "string"
              },
              "quantidade": {
                "type": "number"
              },
              "valor_unitario": {
                "type": "number"
              },
              "recorrencia": {
                "type": "string",
                "description": "Investment or shared_resource recurrence (e.g. unico, mensal)."
              },
              "categoria_investimento": {
                "type": "string"
              },
              "data_investimento": {
                "type": "string",
                "format": "date"
              },
              "meses_vigencia": {
                "type": "integer"
              },
              "centro_custo": {
                "type": "string"
              },
              "nome_recurso": {
                "type": "string"
              },
              "tipo_custo": {
                "type": "string"
              },
              "valor_total_recorrente": {
                "type": "number",
                "description": "Legacy catalog total; prefer entity=resource_cost for vigências."
              },
              "criterio_rateio": {
                "type": "string"
              },
              "escopo_recurso": {
                "type": "string"
              },
              "base_competencia": {
                "type": "string"
              },
              "status_recurso": {
[...]
