{
  "openapi": "3.1.1",
  "info": {
    "title": "TV Dashboard Custom GPT Actions",
    "version": "1.0.0",
    "description": "Compact OAuth façade over tv-dashboard-api (VISTA). Owner of catalog and writes remains TV. Eight Actions under GOVERNED_PREPARE_COMMIT_V2; openapi.json is import-only and not listed here."
  },
  "servers": [
    {
      "url": "https://minhadelpi.com.br/apps/tv-dashboard-api"
    }
  ],
  "paths": {
    "/gpt-actions/v1/catalog": {
      "get": {
        "operationId": "gpt_get_catalog",
        "summary": "TV presentation mutation capability catalog",
        "description": "Returns catalogVersion, operations, capabilities, capability_surface (incl. agent_directives: object_resolution/data_discovery/data_transform/modes) from PresentationMutation. Call before writes; obey agent_directives. Catalog informs; backend authorizes. Requires tv-dashboard.write.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/playlists": {
      "get": {
        "operationId": "gpt_list_playlists",
        "summary": "List owned and shared playlists",
        "description": "Lists playlists visible to the authenticated actor (owner/share). Does not return a global admin dump. When the actor has a live editor session, may include editorFocus (playlistId/slideId/selectedIds, ephemeral TTL).",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Max items (1-100)."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset."
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/playlists/{playlist_id}": {
      "get": {
        "operationId": "gpt_get_playlist_context",
        "summary": "Authorized playlist context",
        "description": "Returns persisted playlist, slides, sections, accessRole, currentRevision. localDraftCoordination is unavailable_external for Custom GPT. When the actor is editing this playlist live, may include editorFocus (slideId/selectedIds/updatedAt/stale).",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Playlist UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/data-routes": {
      "get": {
        "operationId": "gpt_search_data_routes",
        "summary": "Search allowlisted data routes",
        "description": "Required NL query over the TV allowlist (owner-local discovery). Never dump the full catalog; never invent operationId. Miss does not prove absence — refine query. Returns compact DTO with paramSchema.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Business intent (ex.: otd comercial)."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 8,
              "minimum": 1,
              "maximum": 20
            },
            "description": "Max routes (default 8, max 20)."
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional category filter (commercial, supplies, …)."
          }
        ],
        "responses": {
          "200": {
            "description": "Data routes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/data-preview": {
      "post": {
        "operationId": "gpt_preview_data_block",
        "summary": "Preview a data block without persisting",
        "description": "Prefer operationId+params from search hits; server validates paramSchema and builds the canonical binding. Legacy block+nativeConfig remains for editor-shaped clients. No persistence.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operationId": {
                    "type": "string",
                    "description": "Preferred shortcut: allowlisted catalog operationId. Server builds canonical binding; do not invent block/nativeConfig."
                  },
                  "params": {
                    "type": "object",
                    "description": "Params validated against the route paramSchema (enums/required). Use values from gpt_search_data_routes paramSchema.",
                    "x-delpi-gpt-opaque-object": true,
                    "additionalProperties": true,
                    "properties": {}
                  },
                  "block": {
                    "type": "object",
                    "description": "Legacy editor block blob. Prefer operationId+params. Runtime validates downstream when provided.",
                    "x-delpi-gpt-opaque-object": true,
                    "additionalProperties": true,
                    "properties": {}
                  },
                  "nativeConfig": {
                    "type": "object",
                    "description": "Legacy editor slide config for dry-run. Optional when operationId is provided.",
                    "x-delpi-gpt-opaque-object": true,
                    "additionalProperties": true,
                    "properties": {}
                  },
                  "playlistId": {
                    "type": "string"
                  },
                  "playlistDefaults": {
                    "type": "object",
                    "description": "Optional playlist dataDefaults blob inherited during dry-run. Route-specific; not a fixed GPT construction contract.",
                    "x-delpi-gpt-opaque-object": true,
                    "additionalProperties": true,
                    "properties": {}
                  },
                  "forceRefresh": {
                    "type": "boolean"
                  },
                  "targetStepName": {
                    "type": "string"
                  },
                  "previewOptions": {
                    "type": "object",
                    "description": "Optional resolver flags for dry-run. Intentionally open-ended preview knobs, not a persisted write contract.",
                    "x-delpi-gpt-opaque-object": true,
                    "additionalProperties": true,
                    "properties": {}
                  }
                }
              },
              "example": {
                "operationId": "get_sales_order_otd_series",
                "params": {
                  "granularity": "week"
                },
                "forceRefresh": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/changes/suggest": {
      "post": {
        "operationId": "gpt_suggest_change",
        "summary": "Suggest typed presentation ops from NL",
        "description": "Uses the canonical presentation planner. Returns ready|clarification|unsupported|error with typed ops — no free M/SQL. Example: create a playlist named Testando a VISTA.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Natural-language change request."
                  },
                  "hostContext": {
                    "$ref": "#/components/schemas/GptHostContext"
                  }
                }
              },
              "example": {
                "message": "Crie uma playlist chamada Testando a VISTA"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suggestion plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/changes/preview": {
      "post": {
        "operationId": "gpt_preview_change",
        "summary": "Preview typed change without persisting",
        "description": "PREPARE PresentationMutation compound plan. Server topo-sorts ops (as/playlistRef/slideRef). NO WRITE by default. Additive: commit_now=true + confirmation + Idempotency-Key → PREPARE+COMMIT. Destructive ignores commit_now.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required when commit_now=true (or use body idempotency_key)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ops"
                ],
                "properties": {
                  "target": {
                    "$ref": "#/components/schemas/GptChangeTarget"
                  },
                  "ops": {
                    "type": "array",
                    "description": "Typed presentation ops from the canonical TV catalog (objects with op — never bare strings). Shape projected from PresentationOpsContentService.",
                    "minItems": 1,
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": [
                            "op"
                          ],
                          "properties": {
                            "op": {
                              "const": "add_blank_slide",
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "as": {
                              "type": "string",
                              "description": "Local alias for the resource this op produces (compound plans)."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "add_blank_slide"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "presetKey"
                          ],
                          "properties": {
                            "op": {
                              "const": "add_slide_from_preset",
                              "type": "string"
                            },
                            "presetKey": {
                              "type": "string"
                            },
                            "branch": {
                              "type": "string"
                            },
                            "as": {
                              "type": "string",
                              "description": "Local alias for the resource this op produces (compound plans)."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "add_slide_from_preset"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "visualId",
                            "dataSourceId"
                          ],
                          "properties": {
                            "op": {
                              "const": "bind_visual",
                              "type": "string"
                            },
                            "visualId": {
                              "type": "string"
                            },
                            "dataSourceId": {
                              "type": "string"
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "bind_visual"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "name"
                          ],
                          "properties": {
                            "op": {
                              "const": "create_playlist",
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "seedPresetKeys": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "as": {
                              "type": "string",
                              "description": "Local alias for the resource this op produces (compound plans)."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            }
                          },
                          "example": {
                            "op": "create_playlist",
                            "name": "Testando a VISTA"
                          },
                          "title": "create_playlist"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "blockId"
                          ],
                          "properties": {
                            "op": {
                              "const": "delete_block",
                              "type": "string"
                            },
                            "blockId": {
                              "type": "string"
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "delete_block"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "sectionId"
                          ],
                          "properties": {
                            "op": {
                              "const": "delete_section",
                              "type": "string"
                            },
                            "sectionId": {
                              "type": "string"
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            }
                          },
                          "title": "delete_section"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op"
                          ],
                          "properties": {
                            "op": {
                              "const": "delete_slide",
                              "type": "string"
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "delete_slide"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "sectionId"
                          ],
                          "properties": {
                            "op": {
                              "const": "move_slide_to_section",
                              "type": "string"
                            },
                            "sectionId": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "move_slide_to_section"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "patch"
                          ],
                          "example": {
                            "op": "patch_native_config",
                            "patch": {
                              "background": {
                                "type": "color",
                                "value": "#2563eb"
                              }
                            }
                          },
                          "properties": {
                            "op": {
                              "const": "patch_native_config",
                              "type": "string"
                            },
                            "patch": {
                              "type": "object",
                              "minProperties": 1,
                              "additionalProperties": false,
                              "description": "Whitelist only: background, dataFilters, speakerNotes, groupTransforms. Illegal keys are rejected.",
                              "properties": {
                                "background": {
                                  "type": "object",
                                  "description": "Slide background. Canonical color: {type:color, value:#hex}.",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "color",
                                        "gradient",
                                        "image"
                                      ]
                                    },
                                    "value": {
                                      "type": "string"
                                    },
                                    "from": {
                                      "type": "string"
                                    },
                                    "to": {
                                      "type": "string"
                                    },
                                    "angle": {
                                      "type": "number"
                                    },
                                    "assetId": {
                                      "type": "string"
                                    },
                                    "stops": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "required": [
                                          "color"
                                        ],
                                        "properties": {
                                          "color": {
                                            "type": "string"
                                          },
                                          "position": {
                                            "type": "number"
                                          },
                                          "opacity": {
                                            "type": "number"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "dataFilters": {
                                  "type": "object",
                                  "description": "Slide-level data filters as a primitive param map.",
                                  "additionalProperties": {
                                    "oneOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "integer"
                                      },
                                      {
                                        "type": "boolean"
                                      }
                                    ]
                                  }
                                },
                                "speakerNotes": {
                                  "type": "string"
                                },
                                "groupTransforms": {
                                  "type": "object",
                                  "description": "Group id → persisted transform (rotation degrees).",
                                  "additionalProperties": {
                                    "type": "object",
                                    "required": [
                                      "rotation"
                                    ],
                                    "properties": {
                                      "rotation": {
                                        "type": "number"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "patch_native_config"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "items"
                          ],
                          "example": {
                            "op": "reorder_slides",
                            "items": [
                              {
                                "id": "00000000-0000-4000-8000-000000000001",
                                "sortOrder": 0
                              },
                              {
                                "id": "00000000-0000-4000-8000-000000000002",
                                "sortOrder": 1
                              }
                            ]
                          },
                          "properties": {
                            "op": {
                              "const": "reorder_slides",
                              "type": "string"
                            },
                            "items": {
                              "type": "array",
                              "minItems": 1,
                              "description": "Full filmstrip order: slide id + sortOrder. Section moves use move_slide_to_section.",
                              "items": {
                                "type": "object",
                                "required": [
                                  "id",
                                  "sortOrder"
                                ],
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Existing slide UUID."
                                  },
                                  "sortOrder": {
                                    "type": "integer"
                                  }
                                }
                              }
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            }
                          },
                          "title": "reorder_slides"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "blockId",
                            "steps"
                          ],
                          "example": {
                            "op": "set_data_transform",
                            "blockId": "blk_demo_source",
                            "steps": [
                              {
                                "op": "keepRows",
                                "count": 10,
                                "from": "top"
                              }
                            ]
                          },
                          "properties": {
                            "op": {
                              "const": "set_data_transform",
                              "type": "string"
                            },
                            "blockId": {
                              "type": "string"
                            },
                            "steps": {
                              "type": "array",
                              "description": "Allowlisted v1 transform steps (same ops as apply_data_transform_steps). No free SQL/M/DAX.",
                              "items": {
                                "oneOf": [
                                  {
                                    "title": "keepRows",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "count"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "keepRows"
                                      },
                                      "count": {
                                        "type": "integer",
                                        "minimum": 1
                                      },
                                      "from": {
                                        "type": "string",
                                        "enum": [
                                          "top",
                                          "bottom"
                                        ]
                                      }
                                    }
                                  },
                                  {
                                    "title": "removeRows",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "count"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "removeRows"
                                      },
                                      "count": {
                                        "type": "integer",
                                        "minimum": 1
                                      },
                                      "from": {
                                        "type": "string",
                                        "enum": [
                                          "top",
                                          "bottom"
                                        ]
                                      }
                                    }
                                  },
                                  {
                                    "title": "select",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "columns"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "select"
                                      },
                                      "columns": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "minItems": 1
                                      }
                                    }
                                  },
                                  {
                                    "title": "rename",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "from",
                                      "to"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "rename"
                                      },
                                      "from": {
                                        "type": "string"
                                      },
                                      "to": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  {
                                    "title": "filter",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "column",
                                      "cmp"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "filter"
                                      },
                                      "column": {
                                        "type": "string"
                                      },
                                      "cmp": {
                                        "type": "string",
                                        "enum": [
                                          "eq",
                                          "neq",
                                          "gt",
                                          "lt",
                                          "notNull",
                                          "contains",
                                          "startsWith"
                                        ]
                                      },
                                      "value": {
                                        "oneOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "boolean"
                                          }
                                        ]
                                      }
                                    }
                                  },
                                  {
                                    "title": "addColumn",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "name",
                                      "expr"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "addColumn"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "expr": {
                                        "type": "string",
                                        "description": "Safe arithmetic/column expression (no SQL/M)."
                                      }
                                    }
                                  },
                                  {
                                    "title": "replace",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "column"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "replace"
                                      },
                                      "column": {
                                        "type": "string"
                                      },
                                      "find": {
                                        "type": "string"
                                      },
                                      "replaceWith": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  {
                                    "title": "sort",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "column"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "sort"
                                      },
                                      "column": {
                                        "type": "string"
                                      },
                                      "direction": {
                                        "type": "string",
                                        "enum": [
                                          "asc",
                                          "desc"
                                        ]
                                      }
                                    }
                                  },
                                  {
                                    "title": "changeType",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "column"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "changeType"
                                      },
                                      "column": {
                                        "type": "string"
                                      },
                                      "to": {
                                        "type": "string",
                                        "enum": [
                                          "string",
                                          "number"
                                        ]
                                      }
                                    }
                                  },
                                  {
                                    "title": "fillDown",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "column"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "fillDown"
                                      },
                                      "column": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  {
                                    "title": "firstRowAsHeader",
                                    "type": "object",
                                    "required": [
                                      "op"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "firstRowAsHeader"
                                      }
                                    }
                                  },
                                  {
                                    "title": "groupBy",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "keys"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "groupBy"
                                      },
                                      "keys": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "minItems": 1
                                      },
                                      "aggregations": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "required": [
                                            "column",
                                            "fn"
                                          ],
                                          "properties": {
                                            "column": {
                                              "type": "string"
                                            },
                                            "fn": {
                                              "type": "string",
                                              "enum": [
                                                "sum",
                                                "avg",
                                                "min",
                                                "max",
                                                "count",
                                                "first"
                                              ]
                                            },
                                            "as": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  {
                                    "title": "pivot",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "column",
                                      "valueColumn"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "pivot"
                                      },
                                      "column": {
                                        "type": "string"
                                      },
                                      "valueColumn": {
                                        "type": "string"
                                      },
                                      "aggregation": {
                                        "type": "string",
                                        "enum": [
                                          "sum",
                                          "avg",
                                          "min",
                                          "max",
                                          "count",
                                          "first"
                                        ]
                                      }
                                    }
                                  },
                                  {
                                    "title": "unpivot",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "columns"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "unpivot"
                                      },
                                      "columns": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "minItems": 1
                                      },
                                      "nameColumn": {
                                        "type": "string"
                                      },
                                      "valueColumn": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  {
                                    "title": "merge",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "sourceId",
                                      "leftKey",
                                      "rightKey"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "merge"
                                      },
                                      "sourceId": {
                                        "type": "string"
                                      },
                                      "leftKey": {
                                        "type": "string"
                                      },
                                      "rightKey": {
                                        "type": "string"
                                      },
                                      "columns": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                ]
                              }
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "set_data_transform"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op"
                          ],
                          "properties": {
                            "op": {
                              "const": "update_slide",
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "durationSec": {
                              "type": "number"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "update_slide"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "block"
                          ],
                          "example": {
                            "op": "upsert_block",
                            "block": {
                              "id": "blk_demo_text",
                              "type": "text",
                              "content": "Texto de exemplo"
                            }
                          },
                          "properties": {
                            "op": {
                              "const": "upsert_block",
                              "type": "string"
                            },
                            "block": {
                              "type": "object",
                              "description": "Smallest semantic block accepted by TvPresentationPatchV1 upsert_block. No resolved/url/mScript. Extra known editor keys may be present and are merged.",
                              "required": [
                                "type"
                              ],
                              "additionalProperties": true,
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "heading",
                                    "text",
                                    "shape",
                                    "image",
                                    "video",
                                    "icon",
                                    "data_kpi",
                                    "data_chart",
                                    "data_table",
                                    "data_metric",
                                    "data_source",
                                    "chart_view",
                                    "table_view",
                                    "kpi_view",
                                    "canvas_table",
                                    "input"
                                  ]
                                },
                                "content": {
                                  "type": "string"
                                },
                                "assetId": {
                                  "type": "string"
                                },
                                "dataSourceId": {
                                  "type": "string"
                                },
                                "hidden": {
                                  "type": "boolean"
                                },
                                "groupId": {
                                  "type": "string"
                                },
                                "frame": {
                                  "type": "object",
                                  "properties": {
                                    "x": {
                                      "type": "number"
                                    },
                                    "y": {
                                      "type": "number"
                                    },
                                    "w": {
                                      "type": "number"
                                    },
                                    "h": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "style": {
                                  "type": "object",
                                  "description": "Optional visual style. Known keys listed; extras allowed.",
                                  "additionalProperties": true,
                                  "properties": {
                                    "zIndex": {
                                      "type": "number"
                                    },
                                    "fontSize": {
                                      "type": "number"
                                    },
                                    "color": {
                                      "type": "string"
                                    },
                                    "fontFamily": {
                                      "type": "string"
                                    },
                                    "textAlign": {
                                      "type": "string"
                                    },
                                    "verticalAlign": {
                                      "type": "string"
                                    },
                                    "fontWeight": {
                                      "type": "string"
                                    },
                                    "backgroundColor": {
                                      "type": "string"
                                    },
                                    "fill": {
                                      "type": "string"
                                    },
                                    "objectFit": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "dataBinding": {
                                  "type": "object",
                                  "properties": {
                                    "operationId": {
                                      "type": "string"
                                    },
                                    "params": {
                                      "type": "object",
                                      "additionalProperties": {
                                        "oneOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "boolean"
                                          }
                                        ]
                                      }
                                    },
                                    "displayMode": {
                                      "type": "string",
                                      "enum": [
                                        "auto",
                                        "kpi",
                                        "chart",
                                        "table",
                                        "line_chart",
                                        "bar_chart"
                                      ]
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "chartType": {
                                  "type": "string",
                                  "description": "For chart_view: line|bar|area|pie|…"
                                },
                                "tablePreset": {
                                  "type": "string",
                                  "description": "For table_view: banded|minimal|grid|…"
                                },
                                "kpiProjection": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "KPI field binding. Prefer metrics[].format|displayFormat (number|percent|currency|raw). Never leave empty after bind_visual.",
                                  "x-delpi-gpt-opaque-object": true,
                                  "properties": {}
                                },
                                "kpiOptions": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "KPI card options: valueFormat / displayValueFormat (auto|number|currency|percent|compact|raw).",
                                  "properties": {
                                    "valueFormat": {
                                      "type": "string",
                                      "enum": [
                                        "auto",
                                        "number",
                                        "currency",
                                        "percent",
                                        "compact",
                                        "raw"
                                      ]
                                    },
                                    "decimalPlaces": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "chartOptions": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Chart options including valueFormat.",
                                  "properties": {
                                    "valueFormat": {
                                      "type": "string",
                                      "enum": [
                                        "auto",
                                        "number",
                                        "currency",
                                        "percent",
                                        "compact",
                                        "raw"
                                      ]
                                    }
                                  }
                                },
                                "chartProjection": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Chart axes/series binding — do not leave empty after bind_visual.",
                                  "x-delpi-gpt-opaque-object": true,
                                  "properties": {}
                                },
                                "tableProjection": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Table columns; columns[].valueFormat = auto|number|currency|percent.",
                                  "x-delpi-gpt-opaque-object": true,
                                  "properties": {}
                                },
                                "tableOptions": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "x-delpi-gpt-opaque-object": true,
                                  "properties": {}
                                },
                                "fieldLabels": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                },
                                "dataTransform": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Prefer set_data_transform; if present must be {steps} only.",
                                  "x-delpi-gpt-opaque-object": true,
                                  "properties": {}
                                }
                              }
                            },
                            "as": {
                              "type": "string",
                              "description": "Local alias for the resource this op produces (compound plans)."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "upsert_block"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "operationId"
                          ],
                          "example": {
                            "op": "upsert_data_source",
                            "operationId": "get_overall_equipment_effectiveness_pct",
                            "blockId": "blk_demo_source",
                            "params": {
                              "branch": "01"
                            },
                            "displayMode": "kpi",
                            "label": "OEE",
                            "fieldLabels": {
                              "value": "OEE"
                            }
                          },
                          "properties": {
                            "op": {
                              "const": "upsert_data_source",
                              "type": "string"
                            },
                            "operationId": {
                              "type": "string"
                            },
                            "blockId": {
                              "type": "string"
                            },
                            "params": {
                              "type": "object",
                              "description": "Route params as a primitive map. Keys depend on the allowlisted operationId; values are validated downstream against the route schema.",
                              "additionalProperties": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "boolean"
                                  }
                                ]
                              }
                            },
                            "label": {
                              "type": "string"
                            },
                            "displayMode": {
                              "type": "string",
                              "enum": [
                                "auto",
                                "kpi",
                                "chart",
                                "table",
                                "line_chart",
                                "bar_chart"
                              ]
                            },
                            "fieldLabels": {
                              "type": "object",
                              "description": "Column/field key → display label.",
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "as": {
                              "type": "string",
                              "description": "Local alias for the resource this op produces (compound plans)."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "upsert_data_source"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "name"
                          ],
                          "properties": {
                            "op": {
                              "const": "upsert_section",
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "sectionId": {
                              "type": "string"
                            },
                            "as": {
                              "type": "string",
                              "description": "Local alias for the resource this op produces (compound plans)."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "sectionRef": {
                              "type": "string",
                              "description": "Alias or authoritative section UUID. Omit to use current section slot."
                            }
                          },
                          "title": "upsert_section"
                        }
                      ],
                      "description": "One canonical PresentationMutation operation."
                    }
                  },
                  "catalogVersion": {
                    "type": "string",
                    "description": "Must match gpt_get_catalog.catalogVersion."
                  },
                  "commit_now": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true and confirmationPolicy=direct, PREPARE+COMMIT in one call (requires confirmation + Idempotency-Key). Ignored when policy=confirm."
                  },
                  "confirmation": {
                    "oneOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "object",
                        "required": [
                          "confirmed"
                        ],
                        "properties": {
                          "confirmed": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    ],
                    "description": "Required when commit_now=true (confirmed must be true)."
                  },
                  "idempotency_key": {
                    "type": "string",
                    "description": "Fallback when Idempotency-Key header is missing. Required for commit_now."
                  }
                }
              },
              "example": {
                "target": {},
                "ops": [
                  {
                    "op": "create_playlist",
                    "name": "Testando a VISTA"
                  }
                ],
                "catalogVersion": "2026.09.22.ready2",
                "commit_now": true,
                "confirmation": {
                  "confirmed": true
                },
                "idempotency_key": "vista-create-playlist-1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Change preview or verified commit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/changes/commit": {
      "post": {
        "operationId": "gpt_commit_change",
        "summary": "Commit a previously previewed change",
        "description": "COMMIT prepared proposal. WRITE. Body: exact proposal_handle + confirmation (+ Idempotency-Key). Never invent handle (no latest). Prefer commit_now on preview for additive direct policies.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-openai-isConsequential": true,
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Client-generated key scoped to actor+operation. Atomic acquire before write; same key+payload replays; different payload → 409."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "proposal_handle",
                  "confirmation"
                ],
                "properties": {
                  "proposal_handle": {
                    "type": "string",
                    "minLength": 8,
                    "description": "Exact opaque string from gpt_preview_change.proposal_handle. Never invent values like latest/current/null."
                  },
                  "confirmation": {
                    "oneOf": [
                      {
                        "type": "boolean",
                        "description": "Pass true after explicit user confirmation."
                      },
                      {
                        "type": "object",
                        "required": [
                          "confirmed"
                        ],
                        "properties": {
                          "confirmed": {
                            "type": "boolean",
                            "description": "Must be true to commit."
                          }
                        },
                        "additionalProperties": false
                      }
                    ],
                    "description": "Explicit user confirmation. Conversational OK is not AuthZ; backend revalidates permission and proposal binding."
                  },
                  "idempotency_key": {
                    "type": "string",
                    "description": "Fallback if Idempotency-Key header is omitted."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "proposal_handle": "dnBfYWJjMTIz.dGVzdGhtYWMtc2lnbmF0dXJl",
                "confirmation": {
                  "confirmed": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verified commit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Keycloak access token for the authenticated human actor."
      }
    },
    "schemas": {
      "GptSuccessEnvelope": {
        "type": "object",
        "required": [
          "success",
          "message",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {}
        }
      },
      "GptErrorEnvelope": {
        "type": "object",
        "required": [
          "ok",
          "error",
          "meta"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "retryable"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine code e.g. INVALID_CHANGE, AUTHZ_DENIED, NOT_FOUND, PROPOSAL_CHANGED, PROPOSAL_EXPIRED, PROPOSAL_NOT_FOUND, CONFIRMATION_REQUIRED, IDEMPOTENCY_CONFLICT, CATALOG_VERSION_STALE, OUTCOME_NOT_VERIFIED, UPSTREAM_FAILURE."
              },
              "message": {
                "type": "string",
                "description": "Human-readable explanation for VISTA to relay."
              },
              "retryable": {
                "type": "boolean"
              },
              "details": {
                "type": "object",
                "description": "Optional owner-local diagnostic bag. Shape varies by error code; never includes tokens, SQL, or stack traces. Intentionally opaque (response-side only).",
                "x-delpi-gpt-opaque-object": true,
                "additionalProperties": true,
                "properties": {}
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "correlationId": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        }
      },
      "GptChangeTarget": {
        "type": "object",
        "description": "Change target. Omit or leave empty for create_playlist without an existing playlist. playlistId is required by ops that need a playlist.",
        "properties": {
          "playlistId": {
            "type": "string",
            "format": "uuid",
            "description": "Existing playlist UUID when the op requires one."
          },
          "slideId": {
            "type": "string",
            "format": "uuid",
            "description": "Slide UUID when the op requires slide context."
          }
        },
        "additionalProperties": false
      },
      "GptHostContext": {
        "type": "object",
        "description": "Optional editor/host focus. Custom GPT usually omits this; useful when the user already named a playlist/slide in-session.",
        "properties": {
          "playlistId": {
            "type": "string",
            "format": "uuid"
          },
          "slideId": {
            "type": "string",
            "format": "uuid"
          },
          "sectionId": {
            "type": "string"
          },
          "selectedBlockIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "selectedBlockId": {
            "type": "string"
          },
          "selectedDataSourceId": {
            "type": "string"
          },
          "selectedVisualId": {
            "type": "string"
          },
          "presetKey": {
            "type": "string"
          },
          "hasLocalDraft": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "ApiEnvelope": {
        "type": "object",
        "required": [
          "success",
          "message",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {}
        }
      }
    }
  }
}
