{
  "openapi": "3.1.1",
  "info": {
    "title": "TV Dashboard Custom GPT Actions",
    "version": "1.0.0",
    "description": "Compact OAuth façade over tv-dashboard-api. Owner of catalog and writes remains TV. Eight Actions; openapi.json is import-only and not listed here."
  },
  "servers": [
    {
      "url": "https://minhadelpi.com.br/apps/tv-dashboard-api"
    }
  ],
  "paths": {
    "/gpt-actions/v1/catalog": {
      "get": {
        "operationId": "gpt_get_catalog",
        "summary": "TV Copilot capability catalog",
        "description": "Returns catalogVersion, operations, capabilities and limits from the canonical TvCopilotPatchV1 authority. Call before planning changes.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/playlists": {
      "get": {
        "operationId": "gpt_list_playlists",
        "summary": "List owned and shared playlists",
        "description": "Lists playlists visible to the authenticated actor (owner/share). Does not return a global admin dump.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Max items (1-100)."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset."
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/playlists/{playlist_id}": {
      "get": {
        "operationId": "gpt_get_playlist_context",
        "summary": "Authorized playlist context",
        "description": "Returns persisted playlist, slides, sections, accessRole, currentRevision. localDraftCoordination is unavailable_external for Custom GPT.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Playlist UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/data-routes": {
      "get": {
        "operationId": "gpt_search_data_routes",
        "summary": "Search allowlisted data routes",
        "description": "Searches the TV data route catalog. Never invent operationId; only use returned route identifiers.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional NL query; empty lists catalog head."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Max routes to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Data routes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/data-preview": {
      "post": {
        "operationId": "gpt_preview_data_block",
        "summary": "Preview a data block without persisting",
        "description": "Dry-run data resolution for a block using the same preview pipeline as the editor. No persistence.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "block",
                  "nativeConfig"
                ],
                "properties": {
                  "block": {
                    "type": "object"
                  },
                  "nativeConfig": {
                    "type": "object"
                  },
                  "playlistId": {
                    "type": "string"
                  },
                  "playlistDefaults": {
                    "type": "object"
                  },
                  "forceRefresh": {
                    "type": "boolean"
                  },
                  "targetStepName": {
                    "type": "string"
                  },
                  "previewOptions": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/changes/suggest": {
      "post": {
        "operationId": "gpt_suggest_change",
        "summary": "Suggest typed Copilot ops from NL",
        "description": "Uses the canonical Copilot planner. Returns ready|clarification|unsupported|error with typed ops — no free M/SQL.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "hostContext": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suggestion plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/changes/preview": {
      "post": {
        "operationId": "gpt_preview_change",
        "summary": "Preview typed change without persisting",
        "description": "Dry-run TvCopilotPatchV1. Returns planDigest, risk, confirmationPolicy, diff. Does not persist. Does not expose httpCommands.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ops"
                ],
                "properties": {
                  "target": {
                    "type": "object"
                  },
                  "ops": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "catalogVersion": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Change preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/changes/commit": {
      "post": {
        "operationId": "gpt_commit_change",
        "summary": "Commit a previously previewed change",
        "description": "ACT via shared write boundary. Requires Idempotency-Key, planDigest, catalogVersion and expectedRevision. Authoritative read-back required.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-openai-isConsequential": true,
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Client-generated key scoped to actor+operation. Same key+payload replays outcome; same key+different payload → 409 IDEMPOTENCY_CONFLICT."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ops",
                  "catalogVersion",
                  "planDigest"
                ],
                "properties": {
                  "target": {
                    "type": "object"
                  },
                  "ops": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "catalogVersion": {
                    "type": "string"
                  },
                  "expectedRevision": {
                    "type": "integer"
                  },
                  "planDigest": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verified commit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Keycloak access token for the authenticated human actor."
      }
    },
    "schemas": {
      "ApiEnvelope": {
        "type": "object",
        "required": [
          "success",
          "message",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {}
        }
      }
    }
  }
}
