{
  "openapi": "3.1.1",
  "info": {
    "title": "TV Dashboard Custom GPT Actions",
    "version": "1.0.0",
    "description": "Compact OAuth façade over tv-dashboard-api (VISTA). Owner of catalog and writes remains TV. Eight Actions under GOVERNED_PREPARE_COMMIT_V2; openapi.json is import-only and not listed here."
  },
  "servers": [
    {
      "url": "https://minhadelpi.com.br/apps/tv-dashboard-api"
    }
  ],
  "paths": {
    "/gpt-actions/v1/catalog": {
      "get": {
        "operationId": "gpt_get_catalog",
        "summary": "TV presentation mutation capability catalog",
        "description": "Returns catalogVersion, compact ops index, capabilities, and capability_surface.agent_directives. Full op schemas live in this OpenAPI requestBody. Call before writes; obey agent_directives. Backend authorizes. Requires tv-dashboard.write.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/playlists": {
      "get": {
        "operationId": "gpt_list_playlists",
        "summary": "List owned and shared playlists",
        "description": "Compact playlist list for the authenticated actor (id/name/role/revision). No coverSlide/nativeConfig. When the actor has a live editor session, editorFocus is returned first (playlistId/slideId/selectedIds, ephemeral TTL).",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Max items (1-100)."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset."
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/playlists/{playlist_id}": {
      "get": {
        "operationId": "gpt_get_playlist_context",
        "summary": "Authorized playlist context",
        "description": "Playlist context with slides and focused slide. editorFocus omits nativeConfig and returns dataSources + blockIndex. full may auto-downgrade when over budget. objectQuery can return persisted objectMatches. includePreview adds a signed slide preview.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Playlist UUID."
          },
          {
            "name": "includePreview",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, include slidePreview with signed previewUrl (schematic PNG). Prefer over a dedicated preview Action."
          },
          {
            "name": "slideId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Selects focusedSlide (full nativeConfig) and optional includePreview. Defaults to editorFocus.slideId or the first slide."
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "editorFocus"
              ],
              "default": "full"
            },
            "description": "full: focusedSlide.nativeConfig + digests. editorFocus: omit nativeConfig; return dataSources[] + blockIndex for existing-object addressability."
          },
          {
            "name": "objectQuery",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional filter for objectMatches[] (contentPreview/label/groupId/role). Persisted IDs only."
          },
          {
            "name": "objectTypes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional comma-separated types filter for blockIndex/objectMatches."
          },
          {
            "name": "blockCursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Absolute offset cursor for blockIndex pagination."
          },
          {
            "name": "blockLimit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Max items in blockIndex.items for this page."
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/data-routes": {
      "get": {
        "operationId": "gpt_search_data_routes",
        "summary": "Search allowlisted data routes",
        "description": "Required NL query over the TV allowlist (owner-local discovery). Never dump the full catalog; never invent operationId. Miss does not prove absence — refine query. Returns compact DTO with paramSchema.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Business intent (ex.: otd comercial)."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 8,
              "minimum": 1,
              "maximum": 20
            },
            "description": "Max routes (default 8, max 20)."
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional category filter (commercial, supplies, …)."
          }
        ],
        "responses": {
          "200": {
            "description": "Data routes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/data-preview": {
      "post": {
        "operationId": "gpt_preview_data_block",
        "summary": "Preview a data block without persisting",
        "description": "Prefer operationId+params from search hits; server validates paramSchema and builds the canonical binding. Legacy block+nativeConfig remains for editor-shaped clients. No persistence.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operationId": {
                    "type": "string",
                    "description": "Preferred shortcut: allowlisted catalog operationId. Server builds canonical binding; do not invent block/nativeConfig."
                  },
                  "params": {
                    "type": "object",
                    "description": "Params validated against the route paramSchema (enums/required). Use values from gpt_search_data_routes paramSchema.",
                    "x-delpi-gpt-opaque-object": true,
                    "additionalProperties": true,
                    "properties": {}
                  },
                  "block": {
                    "type": "object",
                    "description": "Legacy editor block blob. Prefer operationId+params. Runtime validates downstream when provided.",
                    "x-delpi-gpt-opaque-object": true,
                    "additionalProperties": true,
                    "properties": {}
                  },
                  "nativeConfig": {
                    "type": "object",
                    "description": "Legacy editor slide config for dry-run. Optional when operationId is provided.",
                    "x-delpi-gpt-opaque-object": true,
                    "additionalProperties": true,
                    "properties": {}
                  },
                  "playlistId": {
                    "type": "string"
                  },
                  "playlistDefaults": {
                    "type": "object",
                    "description": "Optional playlist dataDefaults blob inherited during dry-run. Route-specific; not a fixed GPT construction contract.",
                    "x-delpi-gpt-opaque-object": true,
                    "additionalProperties": true,
                    "properties": {}
                  },
                  "forceRefresh": {
                    "type": "boolean"
                  },
                  "targetStepName": {
                    "type": "string"
                  },
                  "previewOptions": {
                    "type": "object",
                    "description": "Optional resolver flags for dry-run. Intentionally open-ended preview knobs, not a persisted write contract.",
                    "x-delpi-gpt-opaque-object": true,
                    "additionalProperties": true,
                    "properties": {}
                  }
                }
              },
              "example": {
                "operationId": "get_sales_order_otd_series",
                "params": {
                  "granularity": "week"
                },
                "forceRefresh": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/changes/suggest": {
      "post": {
        "operationId": "gpt_suggest_change",
        "summary": "Suggest typed presentation ops from NL",
        "description": "Uses the canonical presentation planner. Returns ready|clarification|unsupported|error with typed ops — no free M/SQL. Example: create a playlist named Testando a VISTA.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Natural-language change request."
                  },
                  "hostContext": {
                    "$ref": "#/components/schemas/GptHostContext"
                  }
                }
              },
              "example": {
                "message": "Crie uma playlist chamada Testando a VISTA"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suggestion plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/changes/preview": {
      "post": {
        "operationId": "gpt_preview_change",
        "summary": "Preview typed change without persisting",
        "description": "PREPARE PresentationMutation compound plan. Server topo-sorts ops (as/playlistRef/slideRef). NO WRITE by default. Additive: commit_now=true + confirmation + Idempotency-Key → PREPARE+COMMIT. Destructive ignores commit_now.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required when commit_now=true (or use body idempotency_key)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ops"
                ],
                "properties": {
                  "target": {
                    "$ref": "#/components/schemas/GptChangeTarget"
                  },
                  "ops": {
                    "type": "array",
                    "description": "Typed presentation ops from the canonical TV catalog (objects with op — never bare strings). Shape projected from PresentationOpsContentService.",
                    "minItems": 1,
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": [
                            "op"
                          ],
                          "properties": {
                            "op": {
                              "const": "add_blank_slide",
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "durationSec": {
                              "type": "number"
                            },
                            "background": {
                              "type": "object",
                              "description": "Slide background. Canonical color: {type:color, value:#hex}.",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "color",
                                    "gradient",
                                    "image"
                                  ]
                                },
                                "value": {
                                  "type": "string"
                                },
                                "from": {
                                  "type": "string"
                                },
                                "to": {
                                  "type": "string"
                                },
                                "angle": {
                                  "type": "number"
                                },
                                "assetId": {
                                  "type": "string"
                                },
                                "stops": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "color"
                                    ],
                                    "properties": {
                                      "color": {
                                        "type": "string"
                                      },
                                      "position": {
                                        "type": "number"
                                      },
                                      "opacity": {
                                        "type": "number"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "as": {
                              "type": "string",
                              "description": "Local alias for the resource this op produces (compound plans)."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "add_blank_slide"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "presetKey"
                          ],
                          "properties": {
                            "op": {
                              "const": "add_slide_from_preset",
                              "type": "string"
                            },
                            "presetKey": {
                              "type": "string"
                            },
                            "branch": {
                              "type": "string"
                            },
                            "as": {
                              "type": "string",
                              "description": "Local alias for the resource this op produces (compound plans)."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "add_slide_from_preset"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "blockIds",
                            "command"
                          ],
                          "example": {
                            "op": "align_blocks",
                            "blockIds": [
                              "blk_a",
                              "blk_b"
                            ],
                            "command": "align-left"
                          },
                          "properties": {
                            "op": {
                              "const": "align_blocks",
                              "type": "string"
                            },
                            "blockIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "minItems": 1
                            },
                            "command": {
                              "type": "string",
                              "enum": [
                                "align-left",
                                "align-center-h",
                                "align-right",
                                "align-top",
                                "align-center-v",
                                "align-bottom",
                                "distribute-h",
                                "distribute-v",
                                "align-slide-left",
                                "align-slide-center-h",
                                "align-slide-right",
                                "align-slide-top",
                                "align-slide-center-v",
                                "align-slide-bottom"
                              ]
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "align_blocks"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op"
                          ],
                          "properties": {
                            "op": {
                              "const": "apply_published_slide_template",
                              "type": "string"
                            },
                            "templateId": {
                              "type": "string"
                            },
                            "templateKey": {
                              "type": "string",
                              "description": "Stable key e.g. system-estoque-top5 or system-oee-overview."
                            },
                            "slug": {
                              "type": "string"
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "example": {
                            "op": "apply_published_slide_template",
                            "templateKey": "system-oee-overview"
                          },
                          "title": "apply_published_slide_template"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "visualId",
                            "dataSourceId"
                          ],
                          "properties": {
                            "op": {
                              "const": "bind_visual",
                              "type": "string"
                            },
                            "visualId": {
                              "type": "string"
                            },
                            "dataSourceId": {
                              "type": "string"
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "bind_visual"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "blockId",
                            "deltaSteps"
                          ],
                          "example": {
                            "op": "bump_font_size",
                            "blockId": "blk_a",
                            "deltaSteps": 1
                          },
                          "properties": {
                            "op": {
                              "const": "bump_font_size",
                              "type": "string"
                            },
                            "blockId": {
                              "type": "string"
                            },
                            "deltaSteps": {
                              "type": "integer"
                            },
                            "as": {
                              "type": "string",
                              "description": "Local alias for the resource this op produces (compound plans)."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "bump_font_size"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "type"
                          ],
                          "example": {
                            "op": "create_block",
                            "type": "chart_view",
                            "chartType": "line"
                          },
                          "properties": {
                            "op": {
                              "const": "create_block",
                              "type": "string"
                            },
                            "type": {
                              "type": "string",
                              "description": "ComunicadoBlock.type discriminator."
                            },
                            "blockId": {
                              "type": "string",
                              "description": "Optional informed id."
                            },
                            "chartType": {
                              "type": "string"
                            },
                            "shape": {
                              "type": "string"
                            },
                            "iconName": {
                              "type": "string"
                            },
                            "content": {
                              "type": "string"
                            },
                            "frame": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "x": {
                                  "type": "number"
                                },
                                "y": {
                                  "type": "number"
                                },
                                "w": {
                                  "type": "number"
                                },
                                "h": {
                                  "type": "number"
                                }
                              }
                            },
                            "style": {
                              "type": "object",
                              "properties": {},
                              "x-delpi-gpt-opaque-object": true,
                              "additionalProperties": true,
                              "description": "Intentionally opaque object for GPT Builder import (x-delpi-gpt-opaque-object)."
                            },
                            "as": {
                              "type": "string",
                              "description": "Local alias for the resource this op produces (compound plans)."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "create_block"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "name"
                          ],
                          "properties": {
                            "op": {
                              "const": "create_playlist",
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "seedPresetKeys": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "as": {
                              "type": "string",
                              "description": "Local alias for the resource this op produces (compound plans)."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            }
                          },
                          "example": {
                            "op": "create_playlist",
                            "name": "Testando a VISTA"
                          },
                          "title": "create_playlist"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "blockId"
                          ],
                          "properties": {
                            "op": {
                              "const": "delete_block",
                              "type": "string"
                            },
                            "blockId": {
                              "type": "string"
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "delete_block"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "sectionId"
                          ],
                          "properties": {
                            "op": {
                              "const": "delete_section",
                              "type": "string"
                            },
                            "sectionId": {
                              "type": "string"
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            }
                          },
                          "title": "delete_section"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op"
                          ],
                          "properties": {
                            "op": {
                              "const": "delete_slide",
                              "type": "string"
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "delete_slide"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "blockIds"
                          ],
                          "example": {
                            "op": "duplicate_blocks",
                            "blockIds": [
                              "blk_a"
                            ]
                          },
                          "properties": {
                            "op": {
                              "const": "duplicate_blocks",
                              "type": "string"
                            },
                            "blockIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "minItems": 1
                            },
                            "offsetX": {
                              "type": "number"
                            },
                            "offsetY": {
                              "type": "number"
                            },
                            "as": {
                              "type": "string",
                              "description": "Local alias for the resource this op produces (compound plans)."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "duplicate_blocks"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op"
                          ],
                          "example": {
                            "op": "ensure_brand_logo_on_slide"
                          },
                          "properties": {
                            "op": {
                              "const": "ensure_brand_logo_on_slide",
                              "type": "string"
                            },
                            "variant": {
                              "type": "string",
                              "enum": [
                                "onDark",
                                "onLight",
                                "auto"
                              ],
                              "description": "Logo variant. auto = derive from brandThemeKey / background."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "ensure_brand_logo_on_slide"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "sectionId"
                          ],
                          "properties": {
                            "op": {
                              "const": "move_slide_to_section",
                              "type": "string"
                            },
                            "sectionId": {
                              "type": "string",
                              "nullable": true,
                              "description": "Target section UUID; null clears the slide section assignment."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "move_slide_to_section"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "blockId"
                          ],
                          "example": {
                            "op": "patch_data_source_params",
                            "blockId": "rx_tot_y26",
                            "set": {
                              "dateRangePreset": "this_year"
                            },
                            "unset": [
                              "start_date",
                              "end_date"
                            ]
                          },
                          "description": "Patch atomico de params de uma data_source existente (set/unset). Preserva operationId, transforms, bindings, layout, label e displayMode. Chaves aceitas: paramSchema da rota + params virtuais TV (dateRangePreset, periodDays, excludeWeekends) + aliases legados de data.",
                          "properties": {
                            "op": {
                              "const": "patch_data_source_params",
                              "type": "string"
                            },
                            "blockId": {
                              "type": "string",
                              "description": "Id da data_source existente a alterar."
                            },
                            "set": {
                              "type": "object",
                              "description": "Params a definir. Valor null/vazio equivale a unset. Apenas chaves do paramSchema da rota ou virtuais TV.",
                              "additionalProperties": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "unset": {
                              "type": "array",
                              "description": "Chaves de params a remover (ex.: datas fixas stale ao ativar preset).",
                              "items": {
                                "type": "string"
                              }
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "patch_data_source_params"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "patch"
                          ],
                          "example": {
                            "op": "patch_native_config",
                            "patch": {
                              "background": {
                                "type": "color",
                                "value": "#2563eb"
                              }
                            }
                          },
                          "properties": {
                            "op": {
                              "const": "patch_native_config",
                              "type": "string"
                            },
                            "patch": {
                              "type": "object",
                              "minProperties": 1,
                              "additionalProperties": false,
                              "description": "Whitelist only: background, dataFilters, speakerNotes, groupTransforms, brandThemeKey. Illegal keys are rejected.",
                              "properties": {
                                "background": {
                                  "type": "object",
                                  "description": "Slide background. Canonical color: {type:color, value:#hex}.",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "color",
                                        "gradient",
                                        "image"
                                      ]
                                    },
                                    "value": {
                                      "type": "string"
                                    },
                                    "from": {
                                      "type": "string"
                                    },
                                    "to": {
                                      "type": "string"
                                    },
                                    "angle": {
                                      "type": "number"
                                    },
                                    "assetId": {
                                      "type": "string"
                                    },
                                    "stops": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "required": [
                                          "color"
                                        ],
                                        "properties": {
                                          "color": {
                                            "type": "string"
                                          },
                                          "position": {
                                            "type": "number"
                                          },
                                          "opacity": {
                                            "type": "number"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "dataFilters": {
                                  "type": "object",
                                  "description": "Slide-level data filters as a primitive param map.",
                                  "additionalProperties": {
                                    "oneOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "integer"
                                      },
                                      {
                                        "type": "boolean"
                                      }
                                    ]
                                  }
                                },
                                "speakerNotes": {
                                  "type": "string"
                                },
                                "brandThemeKey": {
                                  "type": "string",
                                  "description": "Delpi color theme key that enables institutional logo overlay (delpi-dark | delpi-light). Empty string clears."
                                },
                                "groupTransforms": {
                                  "type": "object",
                                  "description": "Group id → persisted transform (rotation degrees).",
                                  "additionalProperties": {
                                    "type": "object",
                                    "required": [
                                      "rotation"
                                    ],
                                    "properties": {
                                      "rotation": {
                                        "type": "number"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "patch_native_config"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "dataDefaults"
                          ],
                          "properties": {
                            "op": {
                              "const": "patch_playlist_data_defaults",
                              "type": "string"
                            },
                            "dataDefaults": {
                              "type": "object",
                              "additionalProperties": true,
                              "description": "Defaults da programação (merge). Keys tipadas: branch/filial, dateRangePreset, start_date/end_date, periodDays, competence, etc.",
                              "properties": {
                                "branch": {
                                  "type": "string"
                                },
                                "filial": {
                                  "type": "string"
                                },
                                "dateRangePreset": {
                                  "type": "string"
                                },
                                "start_date": {
                                  "type": "string"
                                },
                                "end_date": {
                                  "type": "string"
                                },
                                "periodDays": {
                                  "type": "integer",
                                  "description": "Relative period length in days (playlist dataDefaults)."
                                },
                                "competence": {
                                  "type": "string"
                                }
                              }
                            },
                            "replace": {
                              "type": "boolean",
                              "description": "Se true, substitui dataDefaults inteiro; default false = deep-merge shallow keys."
                            },
                            "as": {
                              "type": "string",
                              "description": "Local alias for the resource this op produces (compound plans)."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            }
                          },
                          "example": {
                            "op": "patch_playlist_data_defaults",
                            "dataDefaults": {
                              "branch": "01",
                              "dateRangePreset": "this_month"
                            }
                          },
                          "title": "patch_playlist_data_defaults"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "scope"
                          ],
                          "properties": {
                            "op": {
                              "const": "re_layer_playlist_filters",
                              "type": "string"
                            },
                            "scope": {
                              "type": "string",
                              "enum": [
                                "playlist",
                                "slide"
                              ]
                            },
                            "keys": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "re_layer_playlist_filters"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "blockIds",
                            "command"
                          ],
                          "example": {
                            "op": "reorder_block_z",
                            "blockIds": [
                              "blk_a"
                            ],
                            "command": "bring-to-front"
                          },
                          "properties": {
                            "op": {
                              "const": "reorder_block_z",
                              "type": "string"
                            },
                            "blockIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "minItems": 1
                            },
                            "command": {
                              "type": "string",
                              "enum": [
                                "bring-to-front",
                                "send-to-back",
                                "bring-forward",
                                "send-backward"
                              ]
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "reorder_block_z"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "items"
                          ],
                          "example": {
                            "op": "reorder_slides",
                            "items": [
                              {
                                "id": "00000000-0000-4000-8000-000000000001",
                                "sortOrder": 0
                              },
                              {
                                "id": "00000000-0000-4000-8000-000000000002",
                                "sortOrder": 1
                              }
                            ]
                          },
                          "properties": {
                            "op": {
                              "const": "reorder_slides",
                              "type": "string"
                            },
                            "items": {
                              "type": "array",
                              "minItems": 1,
                              "description": "Full filmstrip order: slide id + sortOrder. Section moves use move_slide_to_section.",
                              "items": {
                                "type": "object",
                                "required": [
                                  "id",
                                  "sortOrder"
                                ],
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Existing slide UUID."
                                  },
                                  "sortOrder": {
                                    "type": "integer"
                                  }
                                }
                              }
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            }
                          },
                          "title": "reorder_slides"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "blockId",
                            "steps"
                          ],
                          "example": {
                            "op": "set_data_transform",
                            "blockId": "blk_demo_source",
                            "steps": [
                              {
                                "op": "keepRows",
                                "count": 10,
                                "from": "top"
                              }
                            ]
                          },
                          "properties": {
                            "op": {
                              "const": "set_data_transform",
                              "type": "string"
                            },
                            "blockId": {
                              "type": "string"
                            },
                            "steps": {
                              "type": "array",
                              "description": "Allowlisted v1 transform steps (same ops as apply_data_transform_steps). No free SQL/M/DAX.",
                              "items": {
                                "oneOf": [
                                  {
                                    "title": "keepRows",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "count"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "keepRows"
                                      },
                                      "count": {
                                        "type": "integer",
                                        "minimum": 1
                                      },
                                      "from": {
                                        "type": "string",
                                        "enum": [
                                          "top",
                                          "bottom"
                                        ]
                                      }
                                    }
                                  },
                                  {
                                    "title": "removeRows",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "count"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "removeRows"
                                      },
                                      "count": {
                                        "type": "integer",
                                        "minimum": 1
                                      },
                                      "from": {
                                        "type": "string",
                                        "enum": [
                                          "top",
                                          "bottom"
                                        ]
                                      }
                                    }
                                  },
                                  {
                                    "title": "select",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "columns"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "select"
                                      },
                                      "columns": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "minItems": 1
                                      }
                                    }
                                  },
                                  {
                                    "title": "rename",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "from",
                                      "to"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "rename"
                                      },
                                      "from": {
                                        "type": "string"
                                      },
                                      "to": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  {
                                    "title": "filter",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "column",
                                      "cmp"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "filter"
                                      },
                                      "column": {
                                        "type": "string"
                                      },
                                      "cmp": {
                                        "type": "string",
                                        "enum": [
                                          "eq",
                                          "neq",
                                          "gt",
                                          "lt",
                                          "notNull",
                                          "contains",
                                          "startsWith"
                                        ]
                                      },
                                      "value": {
                                        "oneOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "boolean"
                                          }
                                        ]
                                      }
                                    }
                                  },
                                  {
                                    "title": "addColumn",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "name",
                                      "expr"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "addColumn"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "expr": {
                                        "type": "string",
                                        "description": "Safe arithmetic/column expression (no SQL/M)."
                                      }
                                    }
                                  },
                                  {
                                    "title": "replace",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "column"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "replace"
                                      },
                                      "column": {
                                        "type": "string"
                                      },
                                      "find": {
                                        "type": "string"
                                      },
                                      "replaceWith": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  {
                                    "title": "sort",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "column"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "sort"
                                      },
                                      "column": {
                                        "type": "string"
                                      },
                                      "direction": {
                                        "type": "string",
                                        "enum": [
                                          "asc",
                                          "desc"
                                        ]
                                      }
                                    }
                                  },
                                  {
                                    "title": "changeType",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "column"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "changeType"
                                      },
                                      "column": {
                                        "type": "string"
                                      },
                                      "to": {
                                        "type": "string",
                                        "enum": [
                                          "string",
                                          "number"
                                        ]
                                      }
                                    }
                                  },
                                  {
                                    "title": "fillDown",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "column"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "fillDown"
                                      },
                                      "column": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  {
                                    "title": "firstRowAsHeader",
                                    "type": "object",
                                    "required": [
                                      "op"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "firstRowAsHeader"
                                      }
                                    }
                                  },
                                  {
                                    "title": "groupBy",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "keys"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "groupBy"
                                      },
                                      "keys": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "minItems": 1
                                      },
                                      "aggregations": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "required": [
                                            "column",
                                            "fn"
                                          ],
                                          "properties": {
                                            "column": {
                                              "type": "string"
                                            },
                                            "fn": {
                                              "type": "string",
                                              "enum": [
                                                "sum",
                                                "avg",
                                                "min",
                                                "max",
                                                "count",
                                                "first"
                                              ]
                                            },
                                            "as": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  {
                                    "title": "pivot",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "column",
                                      "valueColumn"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "pivot"
                                      },
                                      "column": {
                                        "type": "string"
                                      },
                                      "valueColumn": {
                                        "type": "string"
                                      },
                                      "aggregation": {
                                        "type": "string",
                                        "enum": [
                                          "sum",
                                          "avg",
                                          "min",
                                          "max",
                                          "count",
                                          "first"
                                        ]
                                      }
                                    }
                                  },
                                  {
                                    "title": "unpivot",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "columns"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "unpivot"
                                      },
                                      "columns": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "minItems": 1
                                      },
                                      "nameColumn": {
                                        "type": "string"
                                      },
                                      "valueColumn": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  {
                                    "title": "merge",
                                    "type": "object",
                                    "required": [
                                      "op",
                                      "sourceId",
                                      "leftKey",
                                      "rightKey"
                                    ],
                                    "properties": {
                                      "op": {
                                        "type": "string",
                                        "const": "merge"
                                      },
                                      "sourceId": {
                                        "type": "string"
                                      },
                                      "leftKey": {
                                        "type": "string"
                                      },
                                      "rightKey": {
                                        "type": "string"
                                      },
                                      "columns": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                ]
                              }
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "set_data_transform"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "blockId",
                            "target",
                            "displayFormat"
                          ],
                          "additionalProperties": false,
                          "properties": {
                            "op": {
                              "const": "set_display_format",
                              "type": "string"
                            },
                            "blockId": {
                              "type": "string"
                            },
                            "target": {
                              "type": "object",
                              "required": [
                                "owner",
                                "field"
                              ],
                              "additionalProperties": false,
                              "properties": {
                                "owner": {
                                  "type": "string",
                                  "enum": [
                                    "contentRunDataRef",
                                    "textProjection"
                                  ]
                                },
                                "field": {
                                  "type": "string"
                                },
                                "occurrence": {
                                  "type": "integer",
                                  "minimum": 0
                                }
                              }
                            },
                            "displayFormat": {
                              "type": "object",
                              "required": [
                                "category"
                              ],
                              "additionalProperties": false,
                              "properties": {
                                "category": {
                                  "type": "string",
                                  "enum": [
                                    "general",
                                    "number",
                                    "currency",
                                    "accounting",
                                    "date",
                                    "time",
                                    "percent",
                                    "scientific",
                                    "text",
                                    "custom"
                                  ]
                                },
                                "presetId": {
                                  "type": "string"
                                },
                                "locale": {
                                  "type": "string"
                                },
                                "currency": {
                                  "type": "string"
                                },
                                "decimalPlaces": {
                                  "type": "integer",
                                  "minimum": 0,
                                  "nullable": true
                                },
                                "pattern": {
                                  "type": "string"
                                },
                                "useThousandsSeparator": {
                                  "type": "boolean"
                                }
                              }
                            },
                            "playlistRef": {
                              "type": "string"
                            },
                            "slideRef": {
                              "type": "string"
                            }
                          },
                          "title": "set_display_format"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "blockId",
                            "mode"
                          ],
                          "example": {
                            "op": "transform_text_case",
                            "blockId": "blk_a",
                            "mode": "upper"
                          },
                          "properties": {
                            "op": {
                              "const": "transform_text_case",
                              "type": "string"
                            },
                            "blockId": {
                              "type": "string"
                            },
                            "mode": {
                              "type": "string",
                              "enum": [
                                "sentence",
                                "lower",
                                "upper",
                                "title",
                                "toggle"
                              ]
                            },
                            "start": {
                              "type": "integer",
                              "minimum": 0,
                              "description": "Optional plain-text start offset (authoring contentRuns)."
                            },
                            "end": {
                              "type": "integer",
                              "minimum": 0,
                              "description": "Optional plain-text end offset (exclusive)."
                            },
                            "as": {
                              "type": "string",
                              "description": "Local alias for the resource this op produces (compound plans)."
                            },
                            "playlistRef": {
                              "type": "string",
                              "description": "Alias or authoritative playlist UUID. Omit to use current playlist slot."
                            },
                            "slideRef": {
                              "type": "string",
                              "description": "Alias or authoritative slide UUID. Omit to use current slide slot."
                            }
                          },
                          "title": "transform_text_case"
                        },
                        {
                          "type": "object",
[...]
