{
  "openapi": "3.1.1",
  "info": {
    "title": "TV Dashboard Custom GPT Actions",
    "version": "1.0.0",
    "description": "Compact OAuth façade over tv-dashboard-api. Owner of catalog and writes remains TV. Eight Actions; openapi.json is import-only and not listed here."
  },
  "servers": [
    {
      "url": "https://minhadelpi.com.br/apps/tv-dashboard-api"
    }
  ],
  "paths": {
    "/gpt-actions/v1/catalog": {
      "get": {
        "operationId": "gpt_get_catalog",
        "summary": "TV Copilot capability catalog",
        "description": "Returns catalogVersion, operations, capabilities and limits from the canonical TvCopilotPatchV1 authority. Call before planning changes.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/playlists": {
      "get": {
        "operationId": "gpt_list_playlists",
        "summary": "List owned and shared playlists",
        "description": "Lists playlists visible to the authenticated actor (owner/share). Does not return a global admin dump.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Max items (1-100)."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset."
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/playlists/{playlist_id}": {
      "get": {
        "operationId": "gpt_get_playlist_context",
        "summary": "Authorized playlist context",
        "description": "Returns persisted playlist, slides, sections, accessRole, currentRevision. localDraftCoordination is unavailable_external for Custom GPT.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "playlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Playlist UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/data-routes": {
      "get": {
        "operationId": "gpt_search_data_routes",
        "summary": "Search allowlisted data routes",
        "description": "Searches the TV data route catalog. Never invent operationId; only use returned route identifiers.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional NL query; empty lists catalog head."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Max routes to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Data routes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/data-preview": {
      "post": {
        "operationId": "gpt_preview_data_block",
        "summary": "Preview a data block without persisting",
        "description": "Dry-run data resolution for a block using the same preview pipeline as the editor. No persistence.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "block",
                  "nativeConfig"
                ],
                "properties": {
                  "block": {
                    "type": "object",
                    "properties": {},
                    "additionalProperties": true,
                    "description": "Slide block payload (same shape as editor preview)."
                  },
                  "nativeConfig": {
                    "type": "object",
                    "properties": {},
                    "additionalProperties": true,
                    "description": "Native slide config used for dry-run resolution."
                  },
                  "playlistId": {
                    "type": "string"
                  },
                  "playlistDefaults": {
                    "type": "object",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "forceRefresh": {
                    "type": "boolean"
                  },
                  "targetStepName": {
                    "type": "string"
                  },
                  "previewOptions": {
                    "type": "object",
                    "properties": {},
                    "additionalProperties": true
                  }
                }
              },
              "example": {
                "block": {
                  "id": "blk-demo",
                  "type": "kpi",
                  "title": "Exemplo"
                },
                "nativeConfig": {
                  "version": 1,
                  "blocks": []
                },
                "forceRefresh": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/changes/suggest": {
      "post": {
        "operationId": "gpt_suggest_change",
        "summary": "Suggest typed Copilot ops from NL",
        "description": "Uses the canonical Copilot planner. Returns ready|clarification|unsupported|error with typed ops — no free M/SQL. Example: create a playlist named Testando a VISTA.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Natural-language change request."
                  },
                  "hostContext": {
                    "$ref": "#/components/schemas/GptHostContext"
                  }
                }
              },
              "example": {
                "message": "Crie uma playlist chamada Testando a VISTA"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suggestion plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/changes/preview": {
      "post": {
        "operationId": "gpt_preview_change",
        "summary": "Preview typed change without persisting",
        "description": "Dry-run TvCopilotPatchV1. Returns planDigest, risk, confirmationPolicy, diff. Does not persist. Does not expose httpCommands. For create_playlist, target may be empty and expectedRevision is N/A.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ops"
                ],
                "properties": {
                  "target": {
                    "$ref": "#/components/schemas/GptChangeTarget"
                  },
                  "ops": {
                    "type": "array",
                    "description": "Typed Copilot ops from the canonical TV catalog (objects with op — never bare strings). Shape projected from TvCopilotContentService.",
                    "minItems": 1,
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": [
                            "op"
                          ],
                          "properties": {
                            "op": {
                              "const": "add_blank_slide",
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            }
                          },
                          "title": "add_blank_slide"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "presetKey"
                          ],
                          "properties": {
                            "op": {
                              "const": "add_slide_from_preset",
                              "type": "string"
                            },
                            "presetKey": {
                              "type": "string"
                            },
                            "branch": {
                              "type": "string"
                            }
                          },
                          "title": "add_slide_from_preset"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "visualId",
                            "dataSourceId"
                          ],
                          "properties": {
                            "op": {
                              "const": "bind_visual",
                              "type": "string"
                            },
                            "visualId": {
                              "type": "string"
                            },
                            "dataSourceId": {
                              "type": "string"
                            }
                          },
                          "title": "bind_visual"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "name"
                          ],
                          "properties": {
                            "op": {
                              "const": "create_playlist",
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "seedPresetKeys": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "title": "create_playlist"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "blockId"
                          ],
                          "properties": {
                            "op": {
                              "const": "delete_block",
                              "type": "string"
                            },
                            "blockId": {
                              "type": "string"
                            }
                          },
                          "title": "delete_block"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "sectionId"
                          ],
                          "properties": {
                            "op": {
                              "const": "delete_section",
                              "type": "string"
                            },
                            "sectionId": {
                              "type": "string"
                            }
                          },
                          "title": "delete_section"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op"
                          ],
                          "properties": {
                            "op": {
                              "const": "delete_slide",
                              "type": "string"
                            }
                          },
                          "title": "delete_slide"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "sectionId"
                          ],
                          "properties": {
                            "op": {
                              "const": "move_slide_to_section",
                              "type": "string"
                            },
                            "sectionId": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "title": "move_slide_to_section"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "patch"
                          ],
                          "properties": {
                            "op": {
                              "const": "patch_native_config",
                              "type": "string"
                            },
                            "patch": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "title": "patch_native_config"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "items"
                          ],
                          "properties": {
                            "op": {
                              "const": "reorder_slides",
                              "type": "string"
                            },
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {},
                                "additionalProperties": true
                              }
                            }
                          },
                          "title": "reorder_slides"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "blockId",
                            "steps"
                          ],
                          "properties": {
                            "op": {
                              "const": "set_data_transform",
                              "type": "string"
                            },
                            "blockId": {
                              "type": "string"
                            },
                            "steps": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {},
                                "additionalProperties": true
                              }
                            }
                          },
                          "title": "set_data_transform"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op"
                          ],
                          "properties": {
                            "op": {
                              "const": "update_slide",
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "durationSec": {
                              "type": "number"
                            },
                            "isActive": {
                              "type": "boolean"
                            }
                          },
                          "title": "update_slide"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "block"
                          ],
                          "properties": {
                            "op": {
                              "const": "upsert_block",
                              "type": "string"
                            },
                            "block": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "title": "upsert_block"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "operationId"
                          ],
                          "properties": {
                            "op": {
                              "const": "upsert_data_source",
                              "type": "string"
                            },
                            "operationId": {
                              "type": "string"
                            },
                            "blockId": {
                              "type": "string"
                            },
                            "params": {
                              "type": "object",
                              "properties": {}
                            },
                            "label": {
                              "type": "string"
                            },
                            "displayMode": {
                              "type": "string"
                            },
                            "fieldLabels": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "title": "upsert_data_source"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "name"
                          ],
                          "properties": {
                            "op": {
                              "const": "upsert_section",
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "sectionId": {
                              "type": "string"
                            }
                          },
                          "title": "upsert_section"
                        }
                      ],
                      "description": "One canonical TV Copilot operation."
                    }
                  },
                  "catalogVersion": {
                    "type": "string",
                    "description": "Must match gpt_get_catalog.catalogVersion."
                  }
                }
              },
              "example": {
                "target": {},
                "ops": [
                  {
                    "op": "create_playlist",
                    "name": "Testando a VISTA"
                  }
                ],
                "catalogVersion": "2026.08.05.1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Change preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/gpt-actions/v1/changes/commit": {
      "post": {
        "operationId": "gpt_commit_change",
        "summary": "Commit a previously previewed change",
        "description": "ACT via shared write boundary. Requires Idempotency-Key, planDigest, catalogVersion. expectedRevision is required when target.playlistId refers to an existing playlist; omit only for create_playlist without pre-existing playlist. Authoritative read-back required.",
        "tags": [
          "TV Dashboard GPT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-openai-isConsequential": true,
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Client-generated key scoped to actor+operation. Atomic acquire before write; same key+payload replays; different payload → 409."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ops",
                  "catalogVersion",
                  "planDigest"
                ],
                "properties": {
                  "target": {
                    "$ref": "#/components/schemas/GptChangeTarget"
                  },
                  "ops": {
                    "type": "array",
                    "description": "Typed Copilot ops from the canonical TV catalog (objects with op — never bare strings). Shape projected from TvCopilotContentService.",
                    "minItems": 1,
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": [
                            "op"
                          ],
                          "properties": {
                            "op": {
                              "const": "add_blank_slide",
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            }
                          },
                          "title": "add_blank_slide"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "presetKey"
                          ],
                          "properties": {
                            "op": {
                              "const": "add_slide_from_preset",
                              "type": "string"
                            },
                            "presetKey": {
                              "type": "string"
                            },
                            "branch": {
                              "type": "string"
                            }
                          },
                          "title": "add_slide_from_preset"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "visualId",
                            "dataSourceId"
                          ],
                          "properties": {
                            "op": {
                              "const": "bind_visual",
                              "type": "string"
                            },
                            "visualId": {
                              "type": "string"
                            },
                            "dataSourceId": {
                              "type": "string"
                            }
                          },
                          "title": "bind_visual"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "name"
                          ],
                          "properties": {
                            "op": {
                              "const": "create_playlist",
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "seedPresetKeys": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "title": "create_playlist"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "blockId"
                          ],
                          "properties": {
                            "op": {
                              "const": "delete_block",
                              "type": "string"
                            },
                            "blockId": {
                              "type": "string"
                            }
                          },
                          "title": "delete_block"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "sectionId"
                          ],
                          "properties": {
                            "op": {
                              "const": "delete_section",
                              "type": "string"
                            },
                            "sectionId": {
                              "type": "string"
                            }
                          },
                          "title": "delete_section"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op"
                          ],
                          "properties": {
                            "op": {
                              "const": "delete_slide",
                              "type": "string"
                            }
                          },
                          "title": "delete_slide"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "sectionId"
                          ],
                          "properties": {
                            "op": {
                              "const": "move_slide_to_section",
                              "type": "string"
                            },
                            "sectionId": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "title": "move_slide_to_section"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "patch"
                          ],
                          "properties": {
                            "op": {
                              "const": "patch_native_config",
                              "type": "string"
                            },
                            "patch": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "title": "patch_native_config"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "items"
                          ],
                          "properties": {
                            "op": {
                              "const": "reorder_slides",
                              "type": "string"
                            },
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {},
                                "additionalProperties": true
                              }
                            }
                          },
                          "title": "reorder_slides"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "blockId",
                            "steps"
                          ],
                          "properties": {
                            "op": {
                              "const": "set_data_transform",
                              "type": "string"
                            },
                            "blockId": {
                              "type": "string"
                            },
                            "steps": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {},
                                "additionalProperties": true
                              }
                            }
                          },
                          "title": "set_data_transform"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op"
                          ],
                          "properties": {
                            "op": {
                              "const": "update_slide",
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "durationSec": {
                              "type": "number"
                            },
                            "isActive": {
                              "type": "boolean"
                            }
                          },
                          "title": "update_slide"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "block"
                          ],
                          "properties": {
                            "op": {
                              "const": "upsert_block",
                              "type": "string"
                            },
                            "block": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "title": "upsert_block"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "operationId"
                          ],
                          "properties": {
                            "op": {
                              "const": "upsert_data_source",
                              "type": "string"
                            },
                            "operationId": {
                              "type": "string"
                            },
                            "blockId": {
                              "type": "string"
                            },
                            "params": {
                              "type": "object",
                              "properties": {}
                            },
                            "label": {
                              "type": "string"
                            },
                            "displayMode": {
                              "type": "string"
                            },
                            "fieldLabels": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "title": "upsert_data_source"
                        },
                        {
                          "type": "object",
                          "required": [
                            "op",
                            "name"
                          ],
                          "properties": {
                            "op": {
                              "const": "upsert_section",
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "sectionId": {
                              "type": "string"
                            }
                          },
                          "title": "upsert_section"
                        }
                      ],
                      "description": "One canonical TV Copilot operation."
                    }
                  },
                  "catalogVersion": {
                    "type": "string"
                  },
                  "expectedRevision": {
                    "type": "integer",
                    "description": "Required OCC revision for an existing playlist. Omit only for create_playlist without playlistId."
                  },
                  "planDigest": {
                    "type": "string",
                    "description": "Digest returned by gpt_preview_change for the same ops."
                  }
                }
              },
              "example": {
                "target": {},
                "ops": [
                  {
                    "op": "create_playlist",
                    "name": "Testando a VISTA"
                  }
                ],
                "catalogVersion": "2026.08.05.1",
                "planDigest": "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verified commit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptSuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation or unsupported capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but lacking TV permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (revision/catalog/plan/idempotency/partial/in-progress)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Invalid change payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptErrorEnvelope"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Keycloak access token for the authenticated human actor."
      }
    },
    "schemas": {
      "GptSuccessEnvelope": {
        "type": "object",
        "required": [
          "success",
          "message",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {}
        }
      },
      "GptErrorEnvelope": {
        "type": "object",
        "required": [
          "ok",
          "error",
          "meta"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "retryable"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine code e.g. INVALID_CHANGE, FORBIDDEN, NOT_FOUND, REVISION_CONFLICT, IDEMPOTENCY_CONFLICT, PLAN_MISMATCH, CATALOG_VERSION_STALE, UPSTREAM_ERROR."
              },
              "message": {
                "type": "string",
                "description": "Human-readable explanation for VISTA to relay."
              },
              "retryable": {
                "type": "boolean"
              },
              "details": {
                "type": "object",
                "properties": {},
                "additionalProperties": true,
                "description": "Optional structured fields (no secrets)."
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "correlationId": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        }
      },
      "GptChangeTarget": {
        "type": "object",
        "description": "Change target. Omit or leave empty for create_playlist without an existing playlist. playlistId is required by ops that need a playlist.",
        "properties": {
          "playlistId": {
            "type": "string",
            "format": "uuid",
            "description": "Existing playlist UUID when the op requires one."
          },
          "slideId": {
            "type": "string",
            "format": "uuid",
            "description": "Slide UUID when the op requires slide context."
          }
        },
        "additionalProperties": false
      },
      "GptHostContext": {
        "type": "object",
        "description": "Optional editor/host focus. Custom GPT usually omits this; useful when the user already named a playlist/slide in-session.",
        "properties": {
          "playlistId": {
            "type": "string",
            "format": "uuid"
          },
          "slideId": {
            "type": "string",
            "format": "uuid"
          },
          "sectionId": {
            "type": "string"
          },
          "selectedBlockIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "selectedBlockId": {
            "type": "string"
          },
          "selectedDataSourceId": {
            "type": "string"
          },
          "selectedVisualId": {
            "type": "string"
          },
          "presetKey": {
            "type": "string"
          },
          "hasLocalDraft": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "ApiEnvelope": {
        "type": "object",
        "required": [
          "success",
          "message",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {}
        }
      }
    }
  }
}
